<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Data Management Enablers [Traceability]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Data Management Enablers [Traceability]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3c72ab15f3c843c6aaa11439ac7d61b9.png" alt="TVA-Data Management Enablers [Traceability]" usemap="#id-3c72ab15f3c843c6aaa11439ac7d61b9map"/>
			   <map name="id-3c72ab15f3c843c6aaa11439ac7d61b9map">
				  		<area shape="rect" coords="1336,910,1493,995" href="../elements/id-20dc4162f4d9429497da48667ae49b6d.html"  target="element">
				  								<area shape="rect" coords="1486,1382,1642,1465" href="../elements/id-8fb18fe8d92a49eeab9f61f288d1c6cf.html"  target="element">
				  								<area shape="rect" coords="1486,1286,1642,1369" href="../elements/id-4f242a95cb8c4ed085bebb387bf8a500.html"  target="element">
				  								<area shape="rect" coords="1648,1286,1804,1369" href="../elements/id-5420421c467c42a696a13e284de6b541.html"  target="element">

				  						<area shape="rect" coords="1474,1226,1823,1491" href="../elements/id-54be6fac864749db8d8fd17b3a57d677.html"  target="element">

				  				<area shape="rect" coords="1438,1174,1847,1511" href="../elements/id-4a5f7512293d41c6815d463c6d6fe1df.html"  target="element">

				  		<area shape="rect" coords="1402,1150,1887,1534" href="../elements/id-768caa30b5d549f9923ce35b35292bd2.html"  target="element">
				  		<area shape="rect" coords="760,1198,940,1303" href="../elements/id-cb2b859661624bdc8fcb82c71ca7e56c.html"  target="element">
				  		<area shape="rect" coords="460,1198,640,1303" href="../elements/id-dad32918cd99423daa68766b2371a3ff.html"  target="element">
				  		        <area shape="rect" coords="514,970,671,1062" href="../objects/id-4646f09d9df24c0585276c81bbf66c17.html" target="element" >

				  		<area shape="rect" coords="454,946,743,1086" href="../elements/id-473f90c3895a432e9a430571b31c019f.html"  target="element">
				  				<area shape="rect" coords="718,46,910,129" href="../elements/id-6308c365d66a4f66882e8dbc536a8c63.html"  target="element">
				  				<area shape="rect" coords="478,46,634,129" href="../elements/id-ececd7459b684fb9b620594a8dd9a1a9.html"  target="element">

				  		<area shape="rect" coords="454,10,935,150" href="../elements/id-ea0f81d012a747ec800518c10af22b50.html"  target="element">
				          <area shape="rect" coords="1132,1282,1317,1355" href="../objects/id-d264067ece8c422e9ff8df8ea0aba50c.html" target="element" >
				  				<area shape="rect" coords="910,1046,1090,1151" href="../elements/id-a6522531b33d4965b6b561ca4bd7c2a0.html"  target="element">
				  				<area shape="rect" coords="910,890,1090,995" href="../elements/id-9a614bcccbd2441498b70592c1670262.html"  target="element">

				  		<area shape="rect" coords="886,866,1127,1166" href="../elements/id-2c7bee3c5539457e99c075479100f9ae.html"  target="element">
				  				<area shape="rect" coords="1330,514,1486,597" href="../elements/id-aa94a3b20fe5445299d17411824fcc9e.html"  target="element">

				  		<area shape="rect" coords="1282,478,1547,623" href="../elements/id-af6ec498f27445b7901b068a96a0feac.html"  target="element">
				  				<area shape="rect" coords="490,526,670,631" href="../elements/id-ef24f607584b465ab30a9cb67060ab4e.html"  target="element">
				  				<area shape="rect" coords="490,262,670,367" href="../elements/id-cb323e0a5a7f4f9481ca8d2241ec6885.html"  target="element">
				  				<area shape="rect" coords="1006,238,1186,343" href="../elements/id-30f099d45fa64575a5f01208a539a5cc.html"  target="element">
				  				<area shape="rect" coords="910,575,1090,680" href="../elements/id-2910ed6d67d0441daff626a7b7a86574.html"  target="element">
				  				<area shape="rect" coords="1006,382,1186,487" href="../elements/id-9859a97711f04448ac7b4cd37f4b5b75.html"  target="element">
				  				<area shape="rect" coords="915,724,1095,829" href="../elements/id-45df01adb85d44cca9084fe82e47c5be.html"  target="element">
				  				<area shape="rect" coords="814,382,994,487" href="../elements/id-2da6389bece94711bb88b429685db0ee.html"  target="element">

				  		<area shape="rect" coords="454,214,1259,851" href="../elements/id-53f90df8b33549dbbd1205debc4e24a9.html"  target="element">
				  				<area shape="rect" coords="64,1198,244,1303" href="../elements/id-b4c558483f24447fbd7d34dabeac3620.html"  target="element">
				  				<area shape="rect" coords="88,526,268,631" href="../elements/id-6cdda15f94304cb0ac49124d90623c31.html"  target="element">
				  				<area shape="rect" coords="88,274,268,379" href="../elements/id-c778ddcf16a34e159ff7303e44cc14ac.html"  target="element">

				          <area shape="rect" coords="10,214,335,1391" href="../objects/id-798c525a46e947bfaebc520df6f88e47.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Data Management Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various elements that facilitate effective data management practices and procedures. 

The view is composed of three main groups: Business Agnostic Data Management Business Service, Data Management Enablers, and Business Agnostic Data Governance and Data Integration Solutions. 

The Business Agnostic Data Management Business Service group includes six Business Service ABBs: Forms Management, Open Data Management, Data Extraction, Transformation and Loading, Content Management, eArchiving, and Contact Management. These services represent the digital public services that are necessary for managing business-agnostic data.

The Data Management Enablers group refers to components and services that support effective data management practices and procedures. This group includes thirteen Application Service ABBs: Content Management, e-Archiving, Archival Information Packages, Forms Management, Data Extraction, Transformation and Loading, Open Data Management, Contact Management, Data Management, Data Governance, Data Policy Engine, Data Catalogue Management, Federated Data Catalogue Management, Data Integration, and Data Integration Plugins Manager. These services enable various procedures related to data management, such as the creation, management, and publishing of digital content, long-term storage of electronic documents, management of standardized packages of digital content, dynamic creation, distribution and analysis of forms and online surveys, extraction, transformation, and loading of data, and the implementation of procedures to manage data effectively.

The Business Agnostic Data Governance Solutions group includes one Application Service SBB, Apache Atlas, which is a data governance application service. The Business Agnostic Data Integration Solutions group includes four Application Service SBBs: Apache Camel, Apache NiFi, Apache Storm, and Talend Open Studio for Data Integration. These services represent specific solutions for data governance and data integration.

The motivation behind this view is to provide a comprehensive framework that supports effective data management practices and procedures. This is achieved by leveraging various services and components that enable the necessary procedures for managing business-agnostic data, as well as specific solutions for data governance and data integration.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-798c525a46e947bfaebc520df6f88e47.html" target="element"> Business Agnostic Data Management Business Service </a> </td>
									           <td> <a href="../objects/id-798c525a46e947bfaebc520df6f88e47.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-c778ddcf16a34e159ff7303e44cc14ac.html" target="element"> Open Data Management </a> </td>
													    <td> <a href="../elements/id-c778ddcf16a34e159ff7303e44cc14ac.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6cdda15f94304cb0ac49124d90623c31.html" target="element"> Contact Management </a> </td>
													    <td> <a href="../elements/id-6cdda15f94304cb0ac49124d90623c31.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b4c558483f24447fbd7d34dabeac3620.html" target="element"> Data Extraction, Transformation and Loading </a> </td>
													    <td> <a href="../elements/id-b4c558483f24447fbd7d34dabeac3620.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-53f90df8b33549dbbd1205debc4e24a9.html" target="element"> Data Management Enablers </a> </td>
											    <td> <a href="../elements/id-53f90df8b33549dbbd1205debc4e24a9.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2da6389bece94711bb88b429685db0ee.html" target="element"> Data Catalogue Management </a> </td>
													    <td> <a href="../elements/id-2da6389bece94711bb88b429685db0ee.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-45df01adb85d44cca9084fe82e47c5be.html" target="element"> Data Persistence </a> </td>
													    <td> <a href="../elements/id-45df01adb85d44cca9084fe82e47c5be.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9859a97711f04448ac7b4cd37f4b5b75.html" target="element"> Data Governance </a> </td>
													    <td> <a href="../elements/id-9859a97711f04448ac7b4cd37f4b5b75.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2910ed6d67d0441daff626a7b7a86574.html" target="element"> Data Management </a> </td>
													    <td> <a href="../elements/id-2910ed6d67d0441daff626a7b7a86574.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-30f099d45fa64575a5f01208a539a5cc.html" target="element"> Data Policy Engine </a> </td>
													    <td> <a href="../elements/id-30f099d45fa64575a5f01208a539a5cc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cb323e0a5a7f4f9481ca8d2241ec6885.html" target="element"> Open Data Management </a> </td>
													    <td> <a href="../elements/id-cb323e0a5a7f4f9481ca8d2241ec6885.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ef24f607584b465ab30a9cb67060ab4e.html" target="element"> Contact Management </a> </td>
													    <td> <a href="../elements/id-ef24f607584b465ab30a9cb67060ab4e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-af6ec498f27445b7901b068a96a0feac.html" target="element"> Business Agnostic Data Governance Solutions </a> </td>
											    <td> <a href="../elements/id-af6ec498f27445b7901b068a96a0feac.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-aa94a3b20fe5445299d17411824fcc9e.html" target="element"> Apache Atlas </a> </td>
													    <td> <a href="../elements/id-aa94a3b20fe5445299d17411824fcc9e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2c7bee3c5539457e99c075479100f9ae.html" target="element"> FIWARE Data Persistance Solutions </a> </td>
											    <td> <a href="../elements/id-2c7bee3c5539457e99c075479100f9ae.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9a614bcccbd2441498b70592c1670262.html" target="element"> Scorpio </a> </td>
													    <td> <a href="../elements/id-9a614bcccbd2441498b70592c1670262.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a6522531b33d4965b6b561ca4bd7c2a0.html" target="element"> PostgreSQL </a> </td>
													    <td> <a href="../elements/id-a6522531b33d4965b6b561ca4bd7c2a0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-d264067ece8c422e9ff8df8ea0aba50c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d264067ece8c422e9ff8df8ea0aba50c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-ea0f81d012a747ec800518c10af22b50.html" target="element"> Madrid Public Policy Goals </a> </td>
											    <td> <a href="../elements/id-ea0f81d012a747ec800518c10af22b50.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ececd7459b684fb9b620594a8dd9a1a9.html" target="element"> Improve transparency through open data and data re-usability </a> </td>
													    <td> <a href="../elements/id-ececd7459b684fb9b620594a8dd9a1a9.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6308c365d66a4f66882e8dbc536a8c63.html" target="element"> Achieve a more efficient, sustainable and greener management of the city resources through data-driven management </a> </td>
													    <td> <a href="../elements/id-6308c365d66a4f66882e8dbc536a8c63.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-473f90c3895a432e9a430571b31c019f.html" target="element"> SmartMad Contact Management Solution </a> </td>
											    <td> <a href="../elements/id-473f90c3895a432e9a430571b31c019f.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-4646f09d9df24c0585276c81bbf66c17.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4646f09d9df24c0585276c81bbf66c17.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-dad32918cd99423daa68766b2371a3ff.html" target="element"> Data Extraction, Transformation and Loading </a> </td>
											    <td> <a href="../elements/id-dad32918cd99423daa68766b2371a3ff.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cb2b859661624bdc8fcb82c71ca7e56c.html" target="element"> Data Integration </a> </td>
											    <td> <a href="../elements/id-cb2b859661624bdc8fcb82c71ca7e56c.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-768caa30b5d549f9923ce35b35292bd2.html" target="element"> Providers </a> </td>
											    <td> <a href="../elements/id-768caa30b5d549f9923ce35b35292bd2.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4a5f7512293d41c6815d463c6d6fe1df.html" target="element"> FIWARE Devices Connectors Solutions </a> </td>
													    <td> <a href="../elements/id-4a5f7512293d41c6815d463c6d6fe1df.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-54be6fac864749db8d8fd17b3a57d677.html" target="element"> FIWARE IoT Devices Solutions </a> </td>
															    <td> <a href="../elements/id-54be6fac864749db8d8fd17b3a57d677.html" target="element" class="i18n-elementtype-Grouping">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-5420421c467c42a696a13e284de6b541.html" target="element"> IoT Agent Library </a> </td>
																	    <td> <a href="../elements/id-5420421c467c42a696a13e284de6b541.html" target="element" class="i18n-elementtype-ApplicationService">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-4f242a95cb8c4ed085bebb387bf8a500.html" target="element"> IoT Agent for LWM2M </a> </td>
																	    <td> <a href="../elements/id-4f242a95cb8c4ed085bebb387bf8a500.html" target="element" class="i18n-elementtype-ApplicationService">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-8fb18fe8d92a49eeab9f61f288d1c6cf.html" target="element"> IoT Agent OPC-UA </a> </td>
																	    <td> <a href="../elements/id-8fb18fe8d92a49eeab9f61f288d1c6cf.html" target="element" class="i18n-elementtype-ApplicationService">
																	    </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-20dc4162f4d9429497da48667ae49b6d.html" target="element"> FIWARE Dataspace Connector </a> </td>
											    <td> <a href="../elements/id-20dc4162f4d9429497da48667ae49b6d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-0041421a965042eeb3bb1f4ed3f792b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0041421a965042eeb3bb1f4ed3f792b6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53f90df8b33549dbbd1205debc4e24a9.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-2da6389bece94711bb88b429685db0ee.html" target="element"> Data Catalogue Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e70c2a6f5da94a47b73891898487ee8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e70c2a6f5da94a47b73891898487ee8e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53f90df8b33549dbbd1205debc4e24a9.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-45df01adb85d44cca9084fe82e47c5be.html" target="element"> Data Persistence </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f59e5adfb3b4d8e92d745019921d39a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f59e5adfb3b4d8e92d745019921d39a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53f90df8b33549dbbd1205debc4e24a9.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-9859a97711f04448ac7b4cd37f4b5b75.html" target="element"> Data Governance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fa53d49a35124d70989e1e3b998f5b58.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa53d49a35124d70989e1e3b998f5b58.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53f90df8b33549dbbd1205debc4e24a9.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-2910ed6d67d0441daff626a7b7a86574.html" target="element"> Data Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f6c9dce231fc406d90ee8a1d8ee1363e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6c9dce231fc406d90ee8a1d8ee1363e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53f90df8b33549dbbd1205debc4e24a9.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-30f099d45fa64575a5f01208a539a5cc.html" target="element"> Data Policy Engine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a9bbb9d561b43b4a0c3fc4aedc45937.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a9bbb9d561b43b4a0c3fc4aedc45937.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53f90df8b33549dbbd1205debc4e24a9.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-cb323e0a5a7f4f9481ca8d2241ec6885.html" target="element"> Open Data Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64587a9c8cf84966baa70fe8583be960.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64587a9c8cf84966baa70fe8583be960.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53f90df8b33549dbbd1205debc4e24a9.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-ef24f607584b465ab30a9cb67060ab4e.html" target="element"> Contact Management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f7cdc086014d481a84067fd2ec2e4261.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f7cdc086014d481a84067fd2ec2e4261.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9859a97711f04448ac7b4cd37f4b5b75.html" target="element"> Data Governance </a> </td>
																				<td> <a href="../elements/id-30f099d45fa64575a5f01208a539a5cc.html" target="element"> Data Policy Engine </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5910cc08d2f044839780549e0a7a2c2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5910cc08d2f044839780549e0a7a2c2d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2910ed6d67d0441daff626a7b7a86574.html" target="element"> Data Management </a> </td>
																				<td> <a href="../elements/id-9859a97711f04448ac7b4cd37f4b5b75.html" target="element"> Data Governance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-14138b1ef16a4b9f9b416008049ccb1f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-14138b1ef16a4b9f9b416008049ccb1f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2910ed6d67d0441daff626a7b7a86574.html" target="element"> Data Management </a> </td>
																				<td> <a href="../elements/id-2da6389bece94711bb88b429685db0ee.html" target="element"> Data Catalogue Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2a9b9ebc92e24196ac487afe60b2f1a5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2a9b9ebc92e24196ac487afe60b2f1a5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2910ed6d67d0441daff626a7b7a86574.html" target="element"> Data Management </a> </td>
																				<td> <a href="../elements/id-45df01adb85d44cca9084fe82e47c5be.html" target="element"> Data Persistence </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-36c9e92e923f41d9befab1845577468b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-36c9e92e923f41d9befab1845577468b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cb323e0a5a7f4f9481ca8d2241ec6885.html" target="element"> Open Data Management </a> </td>
																				<td> <a href="../elements/id-2da6389bece94711bb88b429685db0ee.html" target="element"> Data Catalogue Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5a748a8f4575473cb69e6e328d0dd938.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a748a8f4575473cb69e6e328d0dd938.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cb323e0a5a7f4f9481ca8d2241ec6885.html" target="element"> Open Data Management </a> </td>
																				<td> <a href="../elements/id-c778ddcf16a34e159ff7303e44cc14ac.html" target="element"> Open Data Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b8ea5d6194154d7084bc9f2eb884c74d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b8ea5d6194154d7084bc9f2eb884c74d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ef24f607584b465ab30a9cb67060ab4e.html" target="element"> Contact Management </a> </td>
																				<td> <a href="../elements/id-6cdda15f94304cb0ac49124d90623c31.html" target="element"> Contact Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-042521a2190141d789c805f5b87a9d74.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-042521a2190141d789c805f5b87a9d74.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ef24f607584b465ab30a9cb67060ab4e.html" target="element"> Contact Management </a> </td>
																				<td> <a href="../elements/id-473f90c3895a432e9a430571b31c019f.html" target="element"> SmartMad Contact Management Solution </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-897382cd190b428c8b4b8b4fc9d66fab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-897382cd190b428c8b4b8b4fc9d66fab.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-af6ec498f27445b7901b068a96a0feac.html" target="element"> Business Agnostic Data Governance Solutions </a> </td>
																		<td> <a href="../elements/id-aa94a3b20fe5445299d17411824fcc9e.html" target="element"> Apache Atlas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a666ac7310804614999b6eeb7013e654.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a666ac7310804614999b6eeb7013e654.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-af6ec498f27445b7901b068a96a0feac.html" target="element"> Business Agnostic Data Governance Solutions </a> </td>
																		<td> <a href="../elements/id-9859a97711f04448ac7b4cd37f4b5b75.html" target="element"> Data Governance </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3060d9be38f747f182ad32831a51150d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3060d9be38f747f182ad32831a51150d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7bee3c5539457e99c075479100f9ae.html" target="element"> FIWARE Data Persistance Solutions </a> </td>
																		<td> <a href="../elements/id-45df01adb85d44cca9084fe82e47c5be.html" target="element"> Data Persistence </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-65e0ce920175484b81c4a9b6beb5f8ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65e0ce920175484b81c4a9b6beb5f8ae.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7bee3c5539457e99c075479100f9ae.html" target="element"> FIWARE Data Persistance Solutions </a> </td>
																		<td> <a href="../elements/id-9a614bcccbd2441498b70592c1670262.html" target="element"> Scorpio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ded241b771dc4cc488fb5c772b25b483.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ded241b771dc4cc488fb5c772b25b483.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c7bee3c5539457e99c075479100f9ae.html" target="element"> FIWARE Data Persistance Solutions </a> </td>
																		<td> <a href="../elements/id-a6522531b33d4965b6b561ca4bd7c2a0.html" target="element"> PostgreSQL </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b05f3e18077f4058b91b60ac315cb339.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b05f3e18077f4058b91b60ac315cb339.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a6522531b33d4965b6b561ca4bd7c2a0.html" target="element"> PostgreSQL </a> </td>
																				<td> <a href="../elements/id-9a614bcccbd2441498b70592c1670262.html" target="element"> Scorpio </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-362c0241d71344a8a4db0e8108e50c43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-362c0241d71344a8a4db0e8108e50c43.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ea0f81d012a747ec800518c10af22b50.html" target="element"> Madrid Public Policy Goals </a> </td>
																		<td> <a href="../elements/id-ececd7459b684fb9b620594a8dd9a1a9.html" target="element"> Improve transparency through open data and data re-usability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1bc448f660fa4d6c989a3c3f401bfd74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1bc448f660fa4d6c989a3c3f401bfd74.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ea0f81d012a747ec800518c10af22b50.html" target="element"> Madrid Public Policy Goals </a> </td>
																		<td> <a href="../elements/id-53f90df8b33549dbbd1205debc4e24a9.html" target="element"> Data Management Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2c3212fcd6844af090646af63a8f102d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c3212fcd6844af090646af63a8f102d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ea0f81d012a747ec800518c10af22b50.html" target="element"> Madrid Public Policy Goals </a> </td>
																		<td> <a href="../elements/id-6308c365d66a4f66882e8dbc536a8c63.html" target="element"> Achieve a more efficient, sustainable and greener management of the city resources through data-driven management </a> </td>
																	</tr>

											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-23d9b846122f4044bbf748f8c382fdc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23d9b846122f4044bbf748f8c382fdc1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dad32918cd99423daa68766b2371a3ff.html" target="element"> Data Extraction, Transformation and Loading </a> </td>
																		<td> <a href="../elements/id-b4c558483f24447fbd7d34dabeac3620.html" target="element"> Data Extraction, Transformation and Loading </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1d9013b5abfc4e2d8f0074b60cd7705f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d9013b5abfc4e2d8f0074b60cd7705f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb2b859661624bdc8fcb82c71ca7e56c.html" target="element"> Data Integration </a> </td>
																		<td> <a href="../elements/id-dad32918cd99423daa68766b2371a3ff.html" target="element"> Data Extraction, Transformation and Loading </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d4fec5d91bb148d490fd83c58669baca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4fec5d91bb148d490fd83c58669baca.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-768caa30b5d549f9923ce35b35292bd2.html" target="element"> Providers </a> </td>
																		<td> <a href="../elements/id-4a5f7512293d41c6815d463c6d6fe1df.html" target="element"> FIWARE Devices Connectors Solutions </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f80e1c9d02444a35b381208f21568b90.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f80e1c9d02444a35b381208f21568b90.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4a5f7512293d41c6815d463c6d6fe1df.html" target="element"> FIWARE Devices Connectors Solutions </a> </td>
																				<td> <a href="../elements/id-cb2b859661624bdc8fcb82c71ca7e56c.html" target="element"> Data Integration </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-73a5a80dec1e463d84dc57cbedb4005e.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-73a5a80dec1e463d84dc57cbedb4005e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-54be6fac864749db8d8fd17b3a57d677.html" target="element"> FIWARE IoT Devices Solutions </a> </td>
																						<td> <a href="../elements/id-4f242a95cb8c4ed085bebb387bf8a500.html" target="element"> IoT Agent for LWM2M </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-28857df1af544dc2b9f4e1b951675680.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-28857df1af544dc2b9f4e1b951675680.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-54be6fac864749db8d8fd17b3a57d677.html" target="element"> FIWARE IoT Devices Solutions </a> </td>
																						<td> <a href="../elements/id-5420421c467c42a696a13e284de6b541.html" target="element"> IoT Agent Library </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-c6595cba6d3a4b9eac8f29511ff28f43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6595cba6d3a4b9eac8f29511ff28f43.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-20dc4162f4d9429497da48667ae49b6d.html" target="element"> FIWARE Dataspace Connector </a> </td>
																		<td> <a href="../elements/id-2c7bee3c5539457e99c075479100f9ae.html" target="element"> FIWARE Data Persistance Solutions </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>