<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>OV-Information Base</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>OV-Information Base</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-83a737a49896456a993ba37f84ea5b77.png" alt="OV-Information Base" usemap="#id-83a737a49896456a993ba37f84ea5b77map"/>
			   <map name="id-83a737a49896456a993ba37f84ea5b77map">
				          <area shape="rect" coords="742,562,927,642" href="../objects/id-6cd16125b84f41088c26e26263a027c4.html" target="element" >
				          <area shape="rect" coords="1462,94,1647,174" href="../objects/id-7d1463679f724046b9b1a5eaf9fad4ab.html" target="element" >
				          <area shape="rect" coords="538,70,723,150" href="../objects/id-8d08c7bb8c374c94a1b0959ac0bbf338.html" target="element" >
				          <area shape="rect" coords="754,70,959,150" href="../objects/id-2e944d7108b849dd9050d6070cb064d1.html" target="element" >
				          <area shape="rect" coords="10,342,195,460" href="../objects/id-b2b4139b215b432c85fb492572ef0748.html" target="element" >
				  				<area shape="rect" coords="2110,58,2254,118" href="../elements/id-ac6a63cef4e5417da62acc7ce56e54fd.html"  target="element">
				  				<area shape="rect" coords="1954,58,2098,118" href="../elements/id-ee6740cad44c40499f4b354f4bd51e4d.html"  target="element">
				  						<area shape="rect" coords="1811,622,1943,682" href="../elements/id-7aad481945c04389bae9c40b3db692cd.html"  target="element">
				  						<area shape="rect" coords="2243,550,2375,610" href="../elements/id-96c244dc253b4eb496badefc98149ccb.html"  target="element">
				  						<area shape="rect" coords="2099,550,2231,610" href="../elements/id-9f35155e478f46259faf1e7023c219c9.html"  target="element">
				  						<area shape="rect" coords="1955,550,2087,610" href="../elements/id-d56d20de71204f19b06644952672848b.html"  target="element">
				  						<area shape="rect" coords="1811,550,1943,610" href="../elements/id-8534356770b540ceaef1ffa0b7e929c5.html"  target="element">
				  						<area shape="rect" coords="2243,478,2375,538" href="../elements/id-b4823c161bc04d20acc9d118fc6a8c83.html"  target="element">
				  						<area shape="rect" coords="2099,478,2231,538" href="../elements/id-89c787559bf64ac0a74fd1437c290024.html"  target="element">
				  						<area shape="rect" coords="1955,478,2087,538" href="../elements/id-e0b778dd97ce4c3aa87834816d5fb4e3.html"  target="element">
				  						<area shape="rect" coords="1811,478,1943,538" href="../elements/id-20bba24285c54d5eb829c3507c612d3e.html"  target="element">
				  						<area shape="rect" coords="2243,406,2375,466" href="../elements/id-d44682c95a4e45a08603bb7b76161c71.html"  target="element">
				  						<area shape="rect" coords="2099,406,2231,466" href="../elements/id-aa795c8798f44aa8b9857739e9f0d473.html"  target="element">
				  						<area shape="rect" coords="1955,406,2087,466" href="../elements/id-e19b63afbe694fdc9a8e4c69fb15381e.html"  target="element">
				  						<area shape="rect" coords="1811,406,1943,466" href="../elements/id-1e6903784589496cb1cfd5671cbed3c2.html"  target="element">

				  				<area shape="rect" coords="1775,370,2411,706" href="../elements/id-4d519e07d3114be7b71cdf840282f499.html"  target="element">
				  						<area shape="rect" coords="2122,250,2266,310" href="../elements/id-df1b16300718494696e323f703f8c9ea.html"  target="element">
				  						<area shape="rect" coords="2122,178,2266,238" href="../elements/id-9754d503b6f14af7999601a56af05d21.html"  target="element">
				  						<area shape="rect" coords="1966,250,2110,310" href="../elements/id-83110a002f7947cab5fdf91373f35548.html"  target="element">
				  						<area shape="rect" coords="1798,250,1942,310" href="../elements/id-fc2e77ef87634d1ead50593898717583.html"  target="element">
				  						<area shape="rect" coords="1966,178,2110,238" href="../elements/id-35bae864297641ccb7b669dc11977d57.html"  target="element">
				  						<area shape="rect" coords="1798,178,1942,238" href="../elements/id-f656d96a686749c09e74edcb9470cb8f.html"  target="element">

				  				<area shape="rect" coords="1774,142,2411,346" href="../elements/id-91856358723841bc97edb68e3ed4d093.html"  target="element">
				  				<area shape="rect" coords="1786,58,1930,118" href="../elements/id-b7e104ec2ad2477c8a433be795b12b65.html"  target="element">

				  		<area shape="rect" coords="1726,10,2507,754" href="../elements/id-5076af5b165f4ab1b7755cf1675771c9.html"  target="element">
				  		<area shape="rect" coords="1390,247,1584,343" href="../elements/id-7702d482df124e018185b44aad7c6794.html"  target="element">
				  				<area shape="rect" coords="531,394,731,474" href="../elements/id-78b9d25d54684df2b690ba0de08fe929.html"  target="element">
				  				<area shape="rect" coords="322,226,522,306" href="../elements/id-d0116c2313424d8da049c4ea2d9926d0.html"  target="element">
				  				<area shape="rect" coords="322,310,522,390" href="../elements/id-fbf9a94de9974ef2a8c298919dbe3643.html"  target="element">
				  				<area shape="rect" coords="531,226,731,306" href="../elements/id-9707affd575349b98a59c8b5b0d4be41.html"  target="element">
				  				<area shape="rect" coords="958,310,1158,390" href="../elements/id-5116f4e1697a45358b27a8627765a544.html"  target="element">
				  				<area shape="rect" coords="742,226,942,306" href="../elements/id-dc755728305f4804beb857420bd8822a.html"  target="element">
				  				<area shape="rect" coords="531,310,731,390" href="../elements/id-c09d8a01c29c4e2b81207ca02ab8bf05.html"  target="element">
				  				<area shape="rect" coords="322,394,522,474" href="../elements/id-4461cfc5addd42a4b2776bac853e9928.html"  target="element">
				  				<area shape="rect" coords="742,394,942,474" href="../elements/id-897945d8adbc4ca48509cc78da185e18.html"  target="element">
				  				<area shape="rect" coords="958,394,1158,474" href="../elements/id-82711a539ee14f2881dc6263ca4cf654.html"  target="element">
				  				<area shape="rect" coords="742,310,942,390" href="../elements/id-8202c1f71da745c4acc79afbf0c56228.html"  target="element">

				  		<area shape="rect" coords="286,190,1198,539" href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html" target="element"> Business Agnostic Business Information Base </a> </td>
											    <td> <a href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8202c1f71da745c4acc79afbf0c56228.html" target="element"> Transaction </a> </td>
													    <td> <a href="../elements/id-8202c1f71da745c4acc79afbf0c56228.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-82711a539ee14f2881dc6263ca4cf654.html" target="element"> Identification </a> </td>
													    <td> <a href="../elements/id-82711a539ee14f2881dc6263ca4cf654.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-897945d8adbc4ca48509cc78da185e18.html" target="element"> Audit trail </a> </td>
													    <td> <a href="../elements/id-897945d8adbc4ca48509cc78da185e18.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4461cfc5addd42a4b2776bac853e9928.html" target="element"> Access rights </a> </td>
													    <td> <a href="../elements/id-4461cfc5addd42a4b2776bac853e9928.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c09d8a01c29c4e2b81207ca02ab8bf05.html" target="element"> Message </a> </td>
													    <td> <a href="../elements/id-c09d8a01c29c4e2b81207ca02ab8bf05.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dc755728305f4804beb857420bd8822a.html" target="element"> Availability </a> </td>
													    <td> <a href="../elements/id-dc755728305f4804beb857420bd8822a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5116f4e1697a45358b27a8627765a544.html" target="element"> Location </a> </td>
													    <td> <a href="../elements/id-5116f4e1697a45358b27a8627765a544.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9707affd575349b98a59c8b5b0d4be41.html" target="element"> Economic operator </a> </td>
													    <td> <a href="../elements/id-9707affd575349b98a59c8b5b0d4be41.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fbf9a94de9974ef2a8c298919dbe3643.html" target="element"> Credential </a> </td>
													    <td> <a href="../elements/id-fbf9a94de9974ef2a8c298919dbe3643.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d0116c2313424d8da049c4ea2d9926d0.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-d0116c2313424d8da049c4ea2d9926d0.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-78b9d25d54684df2b690ba0de08fe929.html" target="element"> Distribution List </a> </td>
													    <td> <a href="../elements/id-78b9d25d54684df2b690ba0de08fe929.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7702d482df124e018185b44aad7c6794.html" target="element"> Information </a> </td>
											    <td> <a href="../elements/id-7702d482df124e018185b44aad7c6794.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5076af5b165f4ab1b7755cf1675771c9.html" target="element"> SMDS Information Base </a> </td>
											    <td> <a href="../elements/id-5076af5b165f4ab1b7755cf1675771c9.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b7e104ec2ad2477c8a433be795b12b65.html" target="element"> Weather data </a> </td>
													    <td> <a href="../elements/id-b7e104ec2ad2477c8a433be795b12b65.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-91856358723841bc97edb68e3ed4d093.html" target="element"> SMDS Water Information Base </a> </td>
													    <td> <a href="../elements/id-91856358723841bc97edb68e3ed4d093.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-f656d96a686749c09e74edcb9470cb8f.html" target="element"> Water consumption </a> </td>
															    <td> <a href="../elements/id-f656d96a686749c09e74edcb9470cb8f.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-35bae864297641ccb7b669dc11977d57.html" target="element"> Soil Humidity </a> </td>
															    <td> <a href="../elements/id-35bae864297641ccb7b669dc11977d57.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fc2e77ef87634d1ead50593898717583.html" target="element"> Reference evapotranspiration for each crop (ET0) </a> </td>
															    <td> <a href="../elements/id-fc2e77ef87634d1ead50593898717583.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-83110a002f7947cab5fdf91373f35548.html" target="element"> Efficiency coefficient applied to each crop </a> </td>
															    <td> <a href="../elements/id-83110a002f7947cab5fdf91373f35548.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9754d503b6f14af7999601a56af05d21.html" target="element"> Monthly net precipitation </a> </td>
															    <td> <a href="../elements/id-9754d503b6f14af7999601a56af05d21.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-df1b16300718494696e323f703f8c9ea.html" target="element"> Water leak </a> </td>
															    <td> <a href="../elements/id-df1b16300718494696e323f703f8c9ea.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
													    <td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-1e6903784589496cb1cfd5671cbed3c2.html" target="element"> Luminaire luminous flux </a> </td>
															    <td> <a href="../elements/id-1e6903784589496cb1cfd5671cbed3c2.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e19b63afbe694fdc9a8e4c69fb15381e.html" target="element"> Lamp luminous flux </a> </td>
															    <td> <a href="../elements/id-e19b63afbe694fdc9a8e4c69fb15381e.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-aa795c8798f44aa8b9857739e9f0d473.html" target="element"> Luminaire electrical power consumed  </a> </td>
															    <td> <a href="../elements/id-aa795c8798f44aa8b9857739e9f0d473.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d44682c95a4e45a08603bb7b76161c71.html" target="element"> Lamp electrical power consumed </a> </td>
															    <td> <a href="../elements/id-d44682c95a4e45a08603bb7b76161c71.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-20bba24285c54d5eb829c3507c612d3e.html" target="element"> Upper Hemispheric Flux  </a> </td>
															    <td> <a href="../elements/id-20bba24285c54d5eb829c3507c612d3e.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e0b778dd97ce4c3aa87834816d5fb4e3.html" target="element"> Horizontal illuminance at a point on a surface </a> </td>
															    <td> <a href="../elements/id-e0b778dd97ce4c3aa87834816d5fb4e3.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-89c787559bf64ac0a74fd1437c290024.html" target="element"> Average horizontal illuminance </a> </td>
															    <td> <a href="../elements/id-89c787559bf64ac0a74fd1437c290024.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b4823c161bc04d20acc9d118fc6a8c83.html" target="element"> Minimum horizontal illuminance </a> </td>
															    <td> <a href="../elements/id-b4823c161bc04d20acc9d118fc6a8c83.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8534356770b540ceaef1ffa0b7e929c5.html" target="element"> Glare level </a> </td>
															    <td> <a href="../elements/id-8534356770b540ceaef1ffa0b7e929c5.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d56d20de71204f19b06644952672848b.html" target="element"> Luminous intensity </a> </td>
															    <td> <a href="../elements/id-d56d20de71204f19b06644952672848b.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9f35155e478f46259faf1e7023c219c9.html" target="element"> Nighttime Luminous Glow </a> </td>
															    <td> <a href="../elements/id-9f35155e478f46259faf1e7023c219c9.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-96c244dc253b4eb496badefc98149ccb.html" target="element"> Ambient luminosity </a> </td>
															    <td> <a href="../elements/id-96c244dc253b4eb496badefc98149ccb.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7aad481945c04389bae9c40b3db692cd.html" target="element"> Intrusive light </a> </td>
															    <td> <a href="../elements/id-7aad481945c04389bae9c40b3db692cd.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-ee6740cad44c40499f4b354f4bd51e4d.html" target="element"> Day and time </a> </td>
													    <td> <a href="../elements/id-ee6740cad44c40499f4b354f4bd51e4d.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac6a63cef4e5417da62acc7ce56e54fd.html" target="element"> Geolocation </a> </td>
													    <td> <a href="../elements/id-ac6a63cef4e5417da62acc7ce56e54fd.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-b2b4139b215b432c85fb492572ef0748.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b2b4139b215b432c85fb492572ef0748.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2e944d7108b849dd9050d6070cb064d1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2e944d7108b849dd9050d6070cb064d1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8d08c7bb8c374c94a1b0959ac0bbf338.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8d08c7bb8c374c94a1b0959ac0bbf338.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7d1463679f724046b9b1a5eaf9fad4ab.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7d1463679f724046b9b1a5eaf9fad4ab.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6cd16125b84f41088c26e26263a027c4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6cd16125b84f41088c26e26263a027c4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ef3ed264085e475dbf4a61830c233491.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef3ed264085e475dbf4a61830c233491.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-dc755728305f4804beb857420bd8822a.html" target="element"> Availability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a9b9040ec6d14d038cfcba22b50e732a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9b9040ec6d14d038cfcba22b50e732a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-4461cfc5addd42a4b2776bac853e9928.html" target="element"> Access rights </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-46e1e1dae2ec4d69b27e1311c465dc9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46e1e1dae2ec4d69b27e1311c465dc9e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-8202c1f71da745c4acc79afbf0c56228.html" target="element"> Transaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-96fb84aed78a423a8894c7d9118dee00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96fb84aed78a423a8894c7d9118dee00.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-d0116c2313424d8da049c4ea2d9926d0.html" target="element"> Data Quality </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64e11561a3d7431990a848e1a2824ea0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64e11561a3d7431990a848e1a2824ea0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-c09d8a01c29c4e2b81207ca02ab8bf05.html" target="element"> Message </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ff05e2d795714fb0a8bf63c8eff31eea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff05e2d795714fb0a8bf63c8eff31eea.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-897945d8adbc4ca48509cc78da185e18.html" target="element"> Audit trail </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-39b990831a684b02ac7f66cedd565241.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39b990831a684b02ac7f66cedd565241.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-9707affd575349b98a59c8b5b0d4be41.html" target="element"> Economic operator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a551cf09701442dbb8d50d98dd843367.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a551cf09701442dbb8d50d98dd843367.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-5116f4e1697a45358b27a8627765a544.html" target="element"> Location </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ff5a6c37bc3048678885f7d366846b46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff5a6c37bc3048678885f7d366846b46.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-82711a539ee14f2881dc6263ca4cf654.html" target="element"> Identification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-937107de4d5e4e1db0c74313e5f8c96c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-937107de4d5e4e1db0c74313e5f8c96c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-fbf9a94de9974ef2a8c298919dbe3643.html" target="element"> Credential </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d4178bb4c4f4d39ad8a52ded55fc422.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d4178bb4c4f4d39ad8a52ded55fc422.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-7702d482df124e018185b44aad7c6794.html" target="element"> Information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cd4988e4e8c9450aa8de2ae0ba817e39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd4988e4e8c9450aa8de2ae0ba817e39.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb5c2816be204b3f8c205d14cc119f60.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-78b9d25d54684df2b690ba0de08fe929.html" target="element"> Distribution List </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-29eba9eccd1b412a88eda068e0740467.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29eba9eccd1b412a88eda068e0740467.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7702d482df124e018185b44aad7c6794.html" target="element"> Information </a> </td>
																		<td> <a href="../elements/id-7702d482df124e018185b44aad7c6794.html" target="element"> Information </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-57bb8b3e10cb48a294d6fba65cbc139f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57bb8b3e10cb48a294d6fba65cbc139f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5076af5b165f4ab1b7755cf1675771c9.html" target="element"> SMDS Information Base </a> </td>
																		<td> <a href="../elements/id-b7e104ec2ad2477c8a433be795b12b65.html" target="element"> Weather data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1cfd6b4472d843e3a956c2a594645277.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1cfd6b4472d843e3a956c2a594645277.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5076af5b165f4ab1b7755cf1675771c9.html" target="element"> SMDS Information Base </a> </td>
																		<td> <a href="../elements/id-91856358723841bc97edb68e3ed4d093.html" target="element"> SMDS Water Information Base </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-afe0a076afa849e4a1155c05dbfb5113.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-afe0a076afa849e4a1155c05dbfb5113.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5076af5b165f4ab1b7755cf1675771c9.html" target="element"> SMDS Information Base </a> </td>
																		<td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e5552568a16848068ce3f809abf77018.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5552568a16848068ce3f809abf77018.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5076af5b165f4ab1b7755cf1675771c9.html" target="element"> SMDS Information Base </a> </td>
																		<td> <a href="../elements/id-7702d482df124e018185b44aad7c6794.html" target="element"> Information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c5acbcd92f04e45bc965f1113fb2105.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c5acbcd92f04e45bc965f1113fb2105.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5076af5b165f4ab1b7755cf1675771c9.html" target="element"> SMDS Information Base </a> </td>
																		<td> <a href="../elements/id-ee6740cad44c40499f4b354f4bd51e4d.html" target="element"> Day and time </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-401161f848d84d8cbb6fb687ecc6e592.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-401161f848d84d8cbb6fb687ecc6e592.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5076af5b165f4ab1b7755cf1675771c9.html" target="element"> SMDS Information Base </a> </td>
																		<td> <a href="../elements/id-ac6a63cef4e5417da62acc7ce56e54fd.html" target="element"> Geolocation </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-493a1f160c754f06bc441916c214d7c1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-493a1f160c754f06bc441916c214d7c1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-91856358723841bc97edb68e3ed4d093.html" target="element"> SMDS Water Information Base </a> </td>
																				<td> <a href="../elements/id-f656d96a686749c09e74edcb9470cb8f.html" target="element"> Water consumption </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a4d737c41a0445f5a3d2767ecb95a31d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a4d737c41a0445f5a3d2767ecb95a31d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-91856358723841bc97edb68e3ed4d093.html" target="element"> SMDS Water Information Base </a> </td>
																				<td> <a href="../elements/id-35bae864297641ccb7b669dc11977d57.html" target="element"> Soil Humidity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8577ab8df9fd4c23ac53181d24790a1c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8577ab8df9fd4c23ac53181d24790a1c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-91856358723841bc97edb68e3ed4d093.html" target="element"> SMDS Water Information Base </a> </td>
																				<td> <a href="../elements/id-fc2e77ef87634d1ead50593898717583.html" target="element"> Reference evapotranspiration for each crop (ET0) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2d50683b124f4f6d95f17366c0f29922.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2d50683b124f4f6d95f17366c0f29922.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-91856358723841bc97edb68e3ed4d093.html" target="element"> SMDS Water Information Base </a> </td>
																				<td> <a href="../elements/id-83110a002f7947cab5fdf91373f35548.html" target="element"> Efficiency coefficient applied to each crop </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8dc1b2c9735b4aa29e6078821b4de76f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8dc1b2c9735b4aa29e6078821b4de76f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-91856358723841bc97edb68e3ed4d093.html" target="element"> SMDS Water Information Base </a> </td>
																				<td> <a href="../elements/id-9754d503b6f14af7999601a56af05d21.html" target="element"> Monthly net precipitation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7d0ea684406440dba7d33910adb55f7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7d0ea684406440dba7d33910adb55f7d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-91856358723841bc97edb68e3ed4d093.html" target="element"> SMDS Water Information Base </a> </td>
																				<td> <a href="../elements/id-df1b16300718494696e323f703f8c9ea.html" target="element"> Water leak </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-9e0a7e79348145fbafca280228d10d4d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9e0a7e79348145fbafca280228d10d4d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
																				<td> <a href="../elements/id-1e6903784589496cb1cfd5671cbed3c2.html" target="element"> Luminaire luminous flux </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7d17fa266e514732b18103bb617658bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7d17fa266e514732b18103bb617658bd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
																				<td> <a href="../elements/id-e19b63afbe694fdc9a8e4c69fb15381e.html" target="element"> Lamp luminous flux </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e4843866ed734d4bb5bed96b4c51141e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e4843866ed734d4bb5bed96b4c51141e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
																				<td> <a href="../elements/id-aa795c8798f44aa8b9857739e9f0d473.html" target="element"> Luminaire electrical power consumed  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fd5efbf06a1349b0bd2f0533819c56a7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fd5efbf06a1349b0bd2f0533819c56a7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
																				<td> <a href="../elements/id-d44682c95a4e45a08603bb7b76161c71.html" target="element"> Lamp electrical power consumed </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4ccb0454871540da871bad61c557db98.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4ccb0454871540da871bad61c557db98.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
																				<td> <a href="../elements/id-20bba24285c54d5eb829c3507c612d3e.html" target="element"> Upper Hemispheric Flux  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ee8ccc7865ea4143bbb6ec74dffd6ca5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ee8ccc7865ea4143bbb6ec74dffd6ca5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
																				<td> <a href="../elements/id-e0b778dd97ce4c3aa87834816d5fb4e3.html" target="element"> Horizontal illuminance at a point on a surface </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2c5b0c08d67e48799e7e67d16d1bf4d7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2c5b0c08d67e48799e7e67d16d1bf4d7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
																				<td> <a href="../elements/id-89c787559bf64ac0a74fd1437c290024.html" target="element"> Average horizontal illuminance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b7dc51c21b84e3ab96d005fb32557be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b7dc51c21b84e3ab96d005fb32557be.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
																				<td> <a href="../elements/id-b4823c161bc04d20acc9d118fc6a8c83.html" target="element"> Minimum horizontal illuminance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-491767b3ed9c41f9a11314124ce633b4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-491767b3ed9c41f9a11314124ce633b4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
																				<td> <a href="../elements/id-8534356770b540ceaef1ffa0b7e929c5.html" target="element"> Glare level </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5bcdc1c74ada4e06a583311757bd0450.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5bcdc1c74ada4e06a583311757bd0450.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
																				<td> <a href="../elements/id-d56d20de71204f19b06644952672848b.html" target="element"> Luminous intensity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-37010c9ed7d3461c844e15297a5fbf13.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-37010c9ed7d3461c844e15297a5fbf13.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
																				<td> <a href="../elements/id-9f35155e478f46259faf1e7023c219c9.html" target="element"> Nighttime Luminous Glow </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9c397f74df0e479eb38e7f8c8b352b06.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9c397f74df0e479eb38e7f8c8b352b06.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
																				<td> <a href="../elements/id-96c244dc253b4eb496badefc98149ccb.html" target="element"> Ambient luminosity </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-977216e9281f4238b1db106bfa16f277.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-977216e9281f4238b1db106bfa16f277.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4d519e07d3114be7b71cdf840282f499.html" target="element"> SMDS Lighting Information Base </a> </td>
																				<td> <a href="../elements/id-7aad481945c04389bae9c40b3db692cd.html" target="element"> Intrusive light </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>