<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVI-Application Integration Infrastructure Enablers [Traceability]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVI-Application Integration Infrastructure Enablers [Traceability]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9539d0550c744ecd9e25749aaf21a85e.png" alt="TVI-Application Integration Infrastructure Enablers [Traceability]" usemap="#id-9539d0550c744ecd9e25749aaf21a85emap"/>
			   <map name="id-9539d0550c744ecd9e25749aaf21a85emap">
				  				<area shape="rect" coords="490,550,650,605" href="../elements/id-5e7770666ae74b4aa18ea8c1ac2d1634.html"  target="element">

				  		<area shape="rect" coords="454,490,695,635" href="../elements/id-9dafed1ceca3487c9c14f0f74d28f1fe.html"  target="element">
				  				<area shape="rect" coords="994,418,1154,473" href="../elements/id-0094ad63981549f3ab55b9cdbf9001bd.html"  target="element">
				  		        <area shape="rect" coords="981,490,1166,570" href="../objects/id-918f4b5d9d9d478d9fdd7e2a8c5e456c.html" target="element" >

				  		<area shape="rect" coords="946,382,1211,575" href="../elements/id-f2eb1c1a5a2b45118b7a541ab6edbf51.html"  target="element">
				  				<area shape="rect" coords="1258,538,1426,635" href="../elements/id-05684b9800ca4ee4b47c6b0d85295092.html"  target="element">
				  				<area shape="rect" coords="1258,682,1426,779" href="../elements/id-dfd1e89db4df4b0c82a0eff38cfca96c.html"  target="element">

				  		<area shape="rect" coords="1234,514,1451,790" href="../elements/id-35c9d73958fe4b8c89fe8719cb73ebf4.html"  target="element">
				  				<area shape="rect" coords="1210,250,1370,305" href="../elements/id-13b6d3763688497785cbac8d2f963413.html"  target="element">
				  				<area shape="rect" coords="1006,250,1166,305" href="../elements/id-5280bd548b6749a293ddf6a24bb7ec85.html"  target="element">

				  		<area shape="rect" coords="994,214,1379,326" href="../elements/id-4beb4fa431e540048774acae86e7900c.html"  target="element">
				  				<area shape="rect" coords="478,211,634,283" href="../elements/id-5b75d14421144320a85acd60bb09e56c.html"  target="element">
				  				<area shape="rect" coords="478,346,634,418" href="../elements/id-130c9637b4384879b235a8324db40b68.html"  target="element">
				  				<area shape="rect" coords="46,70,202,155" href="../elements/id-e194c5a8b443455aa23eb72618a471ca.html"  target="element">
				  				<area shape="rect" coords="46,190,202,275" href="../elements/id-78b03c7997504f9d99b93447f31b1792.html"  target="element">
				  				<area shape="rect" coords="239,70,395,153" href="../elements/id-55078d78f096452abaf6b20635331a07.html"  target="element">
				  				<area shape="rect" coords="478,70,634,153" href="../elements/id-2209863ff6624927ae910268ee94fead.html"  target="element">

				  		<area shape="rect" coords="10,10,911,455" href="../elements/id-9d61bc0a4b9148519ff59f59f5c5cf78.html"  target="element">
				  				<area shape="rect" coords="1138,94,1258,149" href="../elements/id-e81495219f034b5185c8fde925335ddb.html"  target="element">
				  				<area shape="rect" coords="1006,94,1126,149" href="../elements/id-03af20c0cf5d4257adcb24b1e22f776e.html"  target="element">
				  				<area shape="rect" coords="1138,34,1258,89" href="../elements/id-9709af583cd54758ab57548fbbf9e781.html"  target="element">
				  				<area shape="rect" coords="1006,34,1126,89" href="../elements/id-479192e898e841f18a512e5caf4b6973.html"  target="element">

				  		<area shape="rect" coords="994,10,1379,178" href="../elements/id-d1d76978c32a41dc8b595875908c9a61.html"  target="element">
				  				<area shape="rect" coords="1918,70,2074,153" href="../elements/id-d6b528c78e2d47279e6b29368429367f.html"  target="element">
				  				<area shape="rect" coords="1918,178,2074,261" href="../elements/id-48189b7ecbba4b6380a5a9acb17f2865.html"  target="element">
				  				<area shape="rect" coords="1702,130,1858,213" href="../elements/id-4dba9336617447c0b11cb6325a2a5927.html"  target="element">
				  				<area shape="rect" coords="1474,130,1630,213" href="../elements/id-5e1f030dafdf49f7ae9585d4435b6ac0.html"  target="element">

				  		<area shape="rect" coords="1450,10,2099,281" href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVI-Application Integration Infrastructure Enablers [Motivation] view extends Technical view - infrastructure and provides a comprehensive framework for leveraging various elements that facilitate the integration of disparate applications and systems within an organization. 

The view is divided into several groupings, each containing elements that serve specific functions. The first grouping is the "Application Integration Infrastructure Enablers", which includes technology services such as the Enterprise Service Bus, API Manager, GraphQL Server, Serverless Orchestrator, Application Server, Event Manager, and API Gateway. These services enable the integration between applications by performing various tasks such as data transformation, connectivity handling, message routing, communication protocol conversion, and managing the composition of multiple requests.

The second grouping is "API Enablers", which refers to components and frameworks that support the implementation and cataloguing of software interfaces. This includes application components like the Service Registry and API Catalogue, and application interfaces such as Web Service, API, ePayment, eInvoicing, eTendering, eProfessional Qualification, Geo-Localization, eProcurement, Supply Chain Management, eQualification, eNotification, ERP System, Financial Management, Log Management, Service Discovery and Registry, API Discovery and Catalogue, and Service Registry.

The third grouping is "Content Delivery Infrastructure Enablers", which includes technology services like the Web Server and Streaming Server. These services enable the delivery of digital content such as web pages, videos, images, and audio files to end-users.

The fourth grouping is "Management Infrastructure Enablers", which includes technology services like Logger, Audit Manager, Telemetry, and Management Console. These services enable the efficient management of a public administration's IT platforms.

The final grouping is "Dataspace Enablers", which includes application services like Dataspace, Dataspace Connector, Dataspace Connector Consumer, and Dataspace Connector Provider. These services support the creation and management of a dataspace, enabling the integration, transformation, and availability of data.

Each of these elements plays a crucial role in the overall application integration infrastructure, contributing to the efficient and effective functioning of an organization's IT systems. The motivation behind this view is to provide a comprehensive framework that facilitates the integration of disparate applications and systems, thereby enhancing the organization's operational efficiency and effectiveness.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element"> Dataspace Enablers </a> </td>
											    <td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5e1f030dafdf49f7ae9585d4435b6ac0.html" target="element"> Dataspace </a> </td>
													    <td> <a href="../elements/id-5e1f030dafdf49f7ae9585d4435b6ac0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4dba9336617447c0b11cb6325a2a5927.html" target="element"> Dataspace Connector </a> </td>
													    <td> <a href="../elements/id-4dba9336617447c0b11cb6325a2a5927.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-48189b7ecbba4b6380a5a9acb17f2865.html" target="element"> Dataspace Connector Consumer </a> </td>
													    <td> <a href="../elements/id-48189b7ecbba4b6380a5a9acb17f2865.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d6b528c78e2d47279e6b29368429367f.html" target="element"> Dataspace Connector Provider </a> </td>
													    <td> <a href="../elements/id-d6b528c78e2d47279e6b29368429367f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d1d76978c32a41dc8b595875908c9a61.html" target="element"> Management Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-d1d76978c32a41dc8b595875908c9a61.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-479192e898e841f18a512e5caf4b6973.html" target="element"> Logger </a> </td>
													    <td> <a href="../elements/id-479192e898e841f18a512e5caf4b6973.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9709af583cd54758ab57548fbbf9e781.html" target="element"> Audit Manager </a> </td>
													    <td> <a href="../elements/id-9709af583cd54758ab57548fbbf9e781.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03af20c0cf5d4257adcb24b1e22f776e.html" target="element"> Telemetry </a> </td>
													    <td> <a href="../elements/id-03af20c0cf5d4257adcb24b1e22f776e.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e81495219f034b5185c8fde925335ddb.html" target="element"> Management Console </a> </td>
													    <td> <a href="../elements/id-e81495219f034b5185c8fde925335ddb.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9d61bc0a4b9148519ff59f59f5c5cf78.html" target="element"> API Enablers </a> </td>
											    <td> <a href="../elements/id-9d61bc0a4b9148519ff59f59f5c5cf78.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2209863ff6624927ae910268ee94fead.html" target="element"> API </a> </td>
													    <td> <a href="../elements/id-2209863ff6624927ae910268ee94fead.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55078d78f096452abaf6b20635331a07.html" target="element"> API Catalogue </a> </td>
													    <td> <a href="../elements/id-55078d78f096452abaf6b20635331a07.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-78b03c7997504f9d99b93447f31b1792.html" target="element"> API Catalogue </a> </td>
													    <td> <a href="../elements/id-78b03c7997504f9d99b93447f31b1792.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e194c5a8b443455aa23eb72618a471ca.html" target="element"> API Discovery and Catalogue </a> </td>
													    <td> <a href="../elements/id-e194c5a8b443455aa23eb72618a471ca.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-130c9637b4384879b235a8324db40b68.html" target="element"> eNotification </a> </td>
													    <td> <a href="../elements/id-130c9637b4384879b235a8324db40b68.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5b75d14421144320a85acd60bb09e56c.html" target="element"> Web Service </a> </td>
													    <td> <a href="../elements/id-5b75d14421144320a85acd60bb09e56c.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4beb4fa431e540048774acae86e7900c.html" target="element"> Application Integration Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-4beb4fa431e540048774acae86e7900c.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5280bd548b6749a293ddf6a24bb7ec85.html" target="element"> API Manager </a> </td>
													    <td> <a href="../elements/id-5280bd548b6749a293ddf6a24bb7ec85.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-13b6d3763688497785cbac8d2f963413.html" target="element"> API Gateway </a> </td>
													    <td> <a href="../elements/id-13b6d3763688497785cbac8d2f963413.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-35c9d73958fe4b8c89fe8719cb73ebf4.html" target="element"> Data Exchange Enablers </a> </td>
											    <td> <a href="../elements/id-35c9d73958fe4b8c89fe8719cb73ebf4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-dfd1e89db4df4b0c82a0eff38cfca96c.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-dfd1e89db4df4b0c82a0eff38cfca96c.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-05684b9800ca4ee4b47c6b0d85295092.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-05684b9800ca4ee4b47c6b0d85295092.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f2eb1c1a5a2b45118b7a541ab6edbf51.html" target="element"> Management Tools Solutions Catalogue </a> </td>
											    <td> <a href="../elements/id-f2eb1c1a5a2b45118b7a541ab6edbf51.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-918f4b5d9d9d478d9fdd7e2a8c5e456c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-918f4b5d9d9d478d9fdd7e2a8c5e456c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-0094ad63981549f3ab55b9cdbf9001bd.html" target="element"> APISIX Gateway </a> </td>
													    <td> <a href="../elements/id-0094ad63981549f3ab55b9cdbf9001bd.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9dafed1ceca3487c9c14f0f74d28f1fe.html" target="element"> SmartMad Notification system </a> </td>
											    <td> <a href="../elements/id-9dafed1ceca3487c9c14f0f74d28f1fe.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5e7770666ae74b4aa18ea8c1ac2d1634.html" target="element"> AVISa Madrid (API) </a> </td>
													    <td> <a href="../elements/id-5e7770666ae74b4aa18ea8c1ac2d1634.html" target="element" class="i18n-elementtype-TechnologyInterface">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c732c1df4e4f41158eb0b3b3cba0fee1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c732c1df4e4f41158eb0b3b3cba0fee1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-5e1f030dafdf49f7ae9585d4435b6ac0.html" target="element"> Dataspace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c9e44e6b13814f84bd0a66fcd30cd97c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9e44e6b13814f84bd0a66fcd30cd97c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-4dba9336617447c0b11cb6325a2a5927.html" target="element"> Dataspace Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3541362fa7984269ab4f4d50682a01cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3541362fa7984269ab4f4d50682a01cb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-d6b528c78e2d47279e6b29368429367f.html" target="element"> Dataspace Connector Provider </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-94ddfcd5175d445781d29468e5710eac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94ddfcd5175d445781d29468e5710eac.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-48189b7ecbba4b6380a5a9acb17f2865.html" target="element"> Dataspace Connector Consumer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd2d95c0fde2474e82ecead6081e0822.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd2d95c0fde2474e82ecead6081e0822.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-d1d76978c32a41dc8b595875908c9a61.html" target="element"> Management Infrastructure Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-666db345db294071938b30c3d60958fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-666db345db294071938b30c3d60958fb.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-4beb4fa431e540048774acae86e7900c.html" target="element"> Application Integration Infrastructure Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-115d30db6e14490dbfa6b70e9dc30ec9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-115d30db6e14490dbfa6b70e9dc30ec9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5e1f030dafdf49f7ae9585d4435b6ac0.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-4dba9336617447c0b11cb6325a2a5927.html" target="element"> Dataspace Connector </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-dc40b8c1e39a4280812a9de9fce22fbf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc40b8c1e39a4280812a9de9fce22fbf.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-48189b7ecbba4b6380a5a9acb17f2865.html" target="element"> Dataspace Connector Consumer </a> </td>
																				<td> <a href="../elements/id-4dba9336617447c0b11cb6325a2a5927.html" target="element"> Dataspace Connector </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b62710ec51d64c33aeeff32f873d5aa7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b62710ec51d64c33aeeff32f873d5aa7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d6b528c78e2d47279e6b29368429367f.html" target="element"> Dataspace Connector Provider </a> </td>
																				<td> <a href="../elements/id-4dba9336617447c0b11cb6325a2a5927.html" target="element"> Dataspace Connector </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-21ca7337cede437ebc96c4bb7aa45361.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-21ca7337cede437ebc96c4bb7aa45361.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1d76978c32a41dc8b595875908c9a61.html" target="element"> Management Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-479192e898e841f18a512e5caf4b6973.html" target="element"> Logger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a90e21cd2344573892ac3a9f0079acb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a90e21cd2344573892ac3a9f0079acb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1d76978c32a41dc8b595875908c9a61.html" target="element"> Management Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-e81495219f034b5185c8fde925335ddb.html" target="element"> Management Console </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2bf75b9488854c128df0d875b6f0fb7f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2bf75b9488854c128df0d875b6f0fb7f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1d76978c32a41dc8b595875908c9a61.html" target="element"> Management Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-03af20c0cf5d4257adcb24b1e22f776e.html" target="element"> Telemetry </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-15800b4615bd4859bbc7c2cb1fa6c103.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15800b4615bd4859bbc7c2cb1fa6c103.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1d76978c32a41dc8b595875908c9a61.html" target="element"> Management Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-9709af583cd54758ab57548fbbf9e781.html" target="element"> Audit Manager </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-608d112bcae4486582245ab2d255ed2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-608d112bcae4486582245ab2d255ed2f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d61bc0a4b9148519ff59f59f5c5cf78.html" target="element"> API Enablers </a> </td>
																		<td> <a href="../elements/id-78b03c7997504f9d99b93447f31b1792.html" target="element"> API Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a615700a42904dc6a6ac35aceada6c94.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a615700a42904dc6a6ac35aceada6c94.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d61bc0a4b9148519ff59f59f5c5cf78.html" target="element"> API Enablers </a> </td>
																		<td> <a href="../elements/id-130c9637b4384879b235a8324db40b68.html" target="element"> eNotification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef4d8c0b393e4305a06220b27722f703.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef4d8c0b393e4305a06220b27722f703.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d61bc0a4b9148519ff59f59f5c5cf78.html" target="element"> API Enablers </a> </td>
																		<td> <a href="../elements/id-5b75d14421144320a85acd60bb09e56c.html" target="element"> Web Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f207ffb5e6024eca97d2ea15a3000783.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f207ffb5e6024eca97d2ea15a3000783.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d61bc0a4b9148519ff59f59f5c5cf78.html" target="element"> API Enablers </a> </td>
																		<td> <a href="../elements/id-e194c5a8b443455aa23eb72618a471ca.html" target="element"> API Discovery and Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59a8f3ad0d9e439a922f52ebbd2fba34.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59a8f3ad0d9e439a922f52ebbd2fba34.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d61bc0a4b9148519ff59f59f5c5cf78.html" target="element"> API Enablers </a> </td>
																		<td> <a href="../elements/id-2209863ff6624927ae910268ee94fead.html" target="element"> API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-26c780dfecfb4583a845a096b12a3057.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26c780dfecfb4583a845a096b12a3057.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d61bc0a4b9148519ff59f59f5c5cf78.html" target="element"> API Enablers </a> </td>
																		<td> <a href="../elements/id-55078d78f096452abaf6b20635331a07.html" target="element"> API Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42334f36d89a4056a29ae250b62346ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42334f36d89a4056a29ae250b62346ca.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d61bc0a4b9148519ff59f59f5c5cf78.html" target="element"> API Enablers </a> </td>
																		<td> <a href="../elements/id-d1d76978c32a41dc8b595875908c9a61.html" target="element"> Management Infrastructure Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c79595a3b2f948dca4f2e24e87fc9261.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c79595a3b2f948dca4f2e24e87fc9261.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9d61bc0a4b9148519ff59f59f5c5cf78.html" target="element"> API Enablers </a> </td>
																		<td> <a href="../elements/id-4beb4fa431e540048774acae86e7900c.html" target="element"> Application Integration Infrastructure Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-65ebe03b1f9943e0baccdea267e7fdeb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-65ebe03b1f9943e0baccdea267e7fdeb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2209863ff6624927ae910268ee94fead.html" target="element"> API </a> </td>
																				<td> <a href="../elements/id-55078d78f096452abaf6b20635331a07.html" target="element"> API Catalogue </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-65be3bb752914260972046a39493ea3a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-65be3bb752914260972046a39493ea3a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-78b03c7997504f9d99b93447f31b1792.html" target="element"> API Catalogue </a> </td>
																				<td> <a href="../elements/id-e194c5a8b443455aa23eb72618a471ca.html" target="element"> API Discovery and Catalogue </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a46539f85bf240fe9fec0a19c46107ff.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a46539f85bf240fe9fec0a19c46107ff.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e194c5a8b443455aa23eb72618a471ca.html" target="element"> API Discovery and Catalogue </a> </td>
																				<td> <a href="../elements/id-55078d78f096452abaf6b20635331a07.html" target="element"> API Catalogue </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-99213af358d541ba86dfaf415ef95bc0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-99213af358d541ba86dfaf415ef95bc0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-130c9637b4384879b235a8324db40b68.html" target="element"> eNotification </a> </td>
																				<td> <a href="../elements/id-5b75d14421144320a85acd60bb09e56c.html" target="element"> Web Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-11b335d8e2bb4b83a5332558d97481f4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-11b335d8e2bb4b83a5332558d97481f4.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5b75d14421144320a85acd60bb09e56c.html" target="element"> Web Service </a> </td>
																				<td> <a href="../elements/id-2209863ff6624927ae910268ee94fead.html" target="element"> API </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-22a2d030dd57421ea5ff3ca6fc3c707c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22a2d030dd57421ea5ff3ca6fc3c707c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4beb4fa431e540048774acae86e7900c.html" target="element"> Application Integration Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-13b6d3763688497785cbac8d2f963413.html" target="element"> API Gateway </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c59249fcac03498090cdff4061688cc3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c59249fcac03498090cdff4061688cc3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4beb4fa431e540048774acae86e7900c.html" target="element"> Application Integration Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-5280bd548b6749a293ddf6a24bb7ec85.html" target="element"> API Manager </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c55f58d0b4db46e8aa15ad63bc49d005.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c55f58d0b4db46e8aa15ad63bc49d005.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5280bd548b6749a293ddf6a24bb7ec85.html" target="element"> API Manager </a> </td>
																				<td> <a href="../elements/id-13b6d3763688497785cbac8d2f963413.html" target="element"> API Gateway </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1c3c8825aaeb446ca1f67f4c6f6a064f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c3c8825aaeb446ca1f67f4c6f6a064f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-35c9d73958fe4b8c89fe8719cb73ebf4.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-dfd1e89db4df4b0c82a0eff38cfca96c.html" target="element"> Data Exchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e2499dfdf9374b96903b28f1729e7fc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2499dfdf9374b96903b28f1729e7fc1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-35c9d73958fe4b8c89fe8719cb73ebf4.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-05684b9800ca4ee4b47c6b0d85295092.html" target="element"> Data Exchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4538a7de03684c639274c8eaed6d32dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4538a7de03684c639274c8eaed6d32dd.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-35c9d73958fe4b8c89fe8719cb73ebf4.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-4beb4fa431e540048774acae86e7900c.html" target="element"> Application Integration Infrastructure Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-72f0cfc163be4888abceaa189e0621f2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-72f0cfc163be4888abceaa189e0621f2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dfd1e89db4df4b0c82a0eff38cfca96c.html" target="element"> Data Exchange </a> </td>
																				<td> <a href="../elements/id-05684b9800ca4ee4b47c6b0d85295092.html" target="element"> Data Exchange </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c7f5617906284058b4635523b6a94586.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c7f5617906284058b4635523b6a94586.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f2eb1c1a5a2b45118b7a541ab6edbf51.html" target="element"> Management Tools Solutions Catalogue </a> </td>
																		<td> <a href="../elements/id-5280bd548b6749a293ddf6a24bb7ec85.html" target="element"> API Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc13e5f9793a4788b49356d0a7d69f59.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc13e5f9793a4788b49356d0a7d69f59.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f2eb1c1a5a2b45118b7a541ab6edbf51.html" target="element"> Management Tools Solutions Catalogue </a> </td>
																		<td> <a href="../elements/id-0094ad63981549f3ab55b9cdbf9001bd.html" target="element"> APISIX Gateway </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-74e2de6d35cb4835bc6e42f332ad0493.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74e2de6d35cb4835bc6e42f332ad0493.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9dafed1ceca3487c9c14f0f74d28f1fe.html" target="element"> SmartMad Notification system </a> </td>
																		<td> <a href="../elements/id-5e7770666ae74b4aa18ea8c1ac2d1634.html" target="element"> AVISa Madrid (API) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5fb1c28d179147bbaa896066e3fce465.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5fb1c28d179147bbaa896066e3fce465.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5e7770666ae74b4aa18ea8c1ac2d1634.html" target="element"> AVISa Madrid (API) </a> </td>
																				<td> <a href="../elements/id-130c9637b4384879b235a8324db40b68.html" target="element"> eNotification </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>