<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVI-Digital Solution [Traceability]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVI-Digital Solution [Traceability]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9c0763a908394fb789ce19a663ab4c67.png" alt="TVI-Digital Solution [Traceability]" usemap="#id-9c0763a908394fb789ce19a663ab4c67map"/>
			   <map name="id-9c0763a908394fb789ce19a663ab4c67map">
				  		<area shape="rect" coords="430,343,604,443" href="../elements/id-f77291494f404eff98210be9036378c7.html"  target="element">
				  		<area shape="rect" coords="430,10,604,110" href="../elements/id-c651daad7dd548df93702d11b145b1d3.html"  target="element">
				  		<area shape="rect" coords="430,177,604,277" href="../elements/id-5412cd4401fc49e58442ba8b4e904828.html"  target="element">
				  		<area shape="rect" coords="10,20,167,453" href="../elements/id-8b5bc5d4349a41ad9aaada21675f6438.html"  target="element">
				  		<area shape="rect" coords="742,10,916,110" href="../elements/id-0e8718fd013b4dea8dcae55f90d5d0af.html"  target="element">
				  		<area shape="rect" coords="742,343,916,443" href="../elements/id-5fc370ebab0f455f84a2d3dd5131bf4a.html"  target="element">
				  		<area shape="rect" coords="742,177,916,277" href="../elements/id-22b2a630ac7547b88b1fc4393c1804ac.html"  target="element">
				  		<area shape="rect" coords="1078,10,1235,443" href="../elements/id-c7a085a2448e44ef8a15610704a4dbe9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c7a085a2448e44ef8a15610704a4dbe9.html" target="element"> SMDS Digital Solution </a> </td>
											    <td> <a href="../elements/id-c7a085a2448e44ef8a15610704a4dbe9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-22b2a630ac7547b88b1fc4393c1804ac.html" target="element"> Smart Madrid Data Space </a> </td>
											    <td> <a href="../elements/id-22b2a630ac7547b88b1fc4393c1804ac.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5fc370ebab0f455f84a2d3dd5131bf4a.html" target="element"> Providers Data Aggregation </a> </td>
											    <td> <a href="../elements/id-5fc370ebab0f455f84a2d3dd5131bf4a.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e8718fd013b4dea8dcae55f90d5d0af.html" target="element"> Smart Madrid Data Space Management </a> </td>
											    <td> <a href="../elements/id-0e8718fd013b4dea8dcae55f90d5d0af.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b5bc5d4349a41ad9aaada21675f6438.html" target="element"> SMDS Digital Solution </a> </td>
											    <td> <a href="../elements/id-8b5bc5d4349a41ad9aaada21675f6438.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5412cd4401fc49e58442ba8b4e904828.html" target="element"> Smart Madrid Data Space </a> </td>
											    <td> <a href="../elements/id-5412cd4401fc49e58442ba8b4e904828.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c651daad7dd548df93702d11b145b1d3.html" target="element"> Smart Madrid Data Space Management </a> </td>
											    <td> <a href="../elements/id-c651daad7dd548df93702d11b145b1d3.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f77291494f404eff98210be9036378c7.html" target="element"> Providers Data Aggregation </a> </td>
											    <td> <a href="../elements/id-f77291494f404eff98210be9036378c7.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-bea1b155451a4819812a3c73a78b6d8a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bea1b155451a4819812a3c73a78b6d8a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7a085a2448e44ef8a15610704a4dbe9.html" target="element"> SMDS Digital Solution </a> </td>
																		<td> <a href="../elements/id-5fc370ebab0f455f84a2d3dd5131bf4a.html" target="element"> Providers Data Aggregation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-25feefea435042ffad58f2d8bc88d01d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-25feefea435042ffad58f2d8bc88d01d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7a085a2448e44ef8a15610704a4dbe9.html" target="element"> SMDS Digital Solution </a> </td>
																		<td> <a href="../elements/id-0e8718fd013b4dea8dcae55f90d5d0af.html" target="element"> Smart Madrid Data Space Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f326df996f484f2991f04ee0ca81ec22.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f326df996f484f2991f04ee0ca81ec22.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7a085a2448e44ef8a15610704a4dbe9.html" target="element"> SMDS Digital Solution </a> </td>
																		<td> <a href="../elements/id-22b2a630ac7547b88b1fc4393c1804ac.html" target="element"> Smart Madrid Data Space </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ef173e019ada4046a4b40800b80cb3d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef173e019ada4046a4b40800b80cb3d6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8b5bc5d4349a41ad9aaada21675f6438.html" target="element"> SMDS Digital Solution </a> </td>
																		<td> <a href="../elements/id-c651daad7dd548df93702d11b145b1d3.html" target="element"> Smart Madrid Data Space Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9731110b43e148e8968083389c678b70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9731110b43e148e8968083389c678b70.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8b5bc5d4349a41ad9aaada21675f6438.html" target="element"> SMDS Digital Solution </a> </td>
																		<td> <a href="../elements/id-5412cd4401fc49e58442ba8b4e904828.html" target="element"> Smart Madrid Data Space </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-10af51cd30774fc593a50a6630cb380b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10af51cd30774fc593a50a6630cb380b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8b5bc5d4349a41ad9aaada21675f6438.html" target="element"> SMDS Digital Solution </a> </td>
																		<td> <a href="../elements/id-f77291494f404eff98210be9036378c7.html" target="element"> Providers Data Aggregation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-81315fe5be44408c942f8746e3075d18.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81315fe5be44408c942f8746e3075d18.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5412cd4401fc49e58442ba8b4e904828.html" target="element"> Smart Madrid Data Space </a> </td>
																		<td> <a href="../elements/id-c651daad7dd548df93702d11b145b1d3.html" target="element"> Smart Madrid Data Space Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ea6ac71dc79c4149bd66af82ac59dcdb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea6ac71dc79c4149bd66af82ac59dcdb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5412cd4401fc49e58442ba8b4e904828.html" target="element"> Smart Madrid Data Space </a> </td>
																		<td> <a href="../elements/id-22b2a630ac7547b88b1fc4393c1804ac.html" target="element"> Smart Madrid Data Space </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-741e117bef98433fbc1aabaf683a54a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-741e117bef98433fbc1aabaf683a54a3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c651daad7dd548df93702d11b145b1d3.html" target="element"> Smart Madrid Data Space Management </a> </td>
																		<td> <a href="../elements/id-0e8718fd013b4dea8dcae55f90d5d0af.html" target="element"> Smart Madrid Data Space Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ac9ee591abe544fea339a8546fc13103.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac9ee591abe544fea339a8546fc13103.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f77291494f404eff98210be9036378c7.html" target="element"> Providers Data Aggregation </a> </td>
																		<td> <a href="../elements/id-5fc370ebab0f455f84a2d3dd5131bf4a.html" target="element"> Providers Data Aggregation </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>