<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVI-Computing Infrastructure Enablers [Traceability]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVI-Computing Infrastructure Enablers [Traceability]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ad0aa159cf704df283aac21b625161aa.png" alt="TVI-Computing Infrastructure Enablers [Traceability]" usemap="#id-ad0aa159cf704df283aac21b625161aamap"/>
			   <map name="id-ad0aa159cf704df283aac21b625161aamap">
				  				<area shape="rect" coords="1618,648,1774,731" href="../elements/id-cb323e0a5a7f4f9481ca8d2241ec6885.html"  target="element">
				  				<area shape="rect" coords="1174,653,1354,726" href="../elements/id-ed76a496510046f18257043626f50c89.html"  target="element">
				  				<area shape="rect" coords="994,503,1150,586" href="../elements/id-54ce3ebd29804cf2a4f8a0b198cf7afe.html"  target="element">
				  				<area shape="rect" coords="994,346,1150,429" href="../elements/id-2c91423ddaf543759f423871d8770744.html"  target="element">
				  				<area shape="rect" coords="1379,503,1535,586" href="../elements/id-06a5108ee2214a9d904cab91391e5374.html"  target="element">
				  				<area shape="rect" coords="1379,346,1535,429" href="../elements/id-c8e803e121e04eb18fa07156b8c9e188.html"  target="element">
				  				<area shape="rect" coords="1582,46,1738,129" href="../elements/id-30f099d45fa64575a5f01208a539a5cc.html"  target="element">
				  				<area shape="rect" coords="1390,46,1523,129" href="../elements/id-3a007ecaf93647a0b806c40f80d7ea82.html"  target="element">
				  				<area shape="rect" coords="1174,503,1330,586" href="../elements/id-2bffb6c7fd9d421681a406fb9874df93.html"  target="element">
				  				<area shape="rect" coords="1174,346,1330,429" href="../elements/id-45df01adb85d44cca9084fe82e47c5be.html"  target="element">
				  				<area shape="rect" coords="1560,503,1716,586" href="../elements/id-8a2b0bfe5be44763a92f2d6b023468b7.html"  target="element">
				  				<area shape="rect" coords="1560,346,1716,429" href="../elements/id-2910ed6d67d0441daff626a7b7a86574.html"  target="element">
				  				<area shape="rect" coords="1582,190,1738,273" href="../elements/id-9859a97711f04448ac7b4cd37f4b5b75.html"  target="element">
				  				<area shape="rect" coords="1390,190,1523,273" href="../elements/id-74ed000a0b92487d8647b87016c3fd12.html"  target="element">
				  				<area shape="rect" coords="1012,60,1162,143" href="../views/id-3c72ab15f3c843c6aaa11439ac7d61b9.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="970,10,1799,755" href="../elements/id-11be95b424564431a25331e232ab555a.html"  target="element">
				  				<area shape="rect" coords="46,394,214,491" href="../elements/id-05684b9800ca4ee4b47c6b0d85295092.html"  target="element">
				  				<area shape="rect" coords="46,538,214,635" href="../elements/id-dfd1e89db4df4b0c82a0eff38cfca96c.html"  target="element">

				  		<area shape="rect" coords="10,346,263,671" href="../elements/id-299c3c6f399b4e8e8d40e6957807172d.html"  target="element">
				  				<area shape="rect" coords="46,191,214,288" href="../elements/id-b98acfb5a6224fe4982e3e6bbeb14dbe.html"  target="element">
				  				<area shape="rect" coords="46,34,214,131" href="../elements/id-1e8fc405be7e41e3b6d4a6d0f70aa8f6.html"  target="element">

				  		<area shape="rect" coords="10,10,263,324" href="../elements/id-a88d3e1ebc2641eda6409fd750185cfe.html"  target="element">
				  				<area shape="rect" coords="478,70,622,142" href="../elements/id-b64cb2a06da44c81b1a5e5264843913c.html"  target="element">
				  				<area shape="rect" coords="658,70,802,142" href="../elements/id-78202092bd874fc487dc0fbfbebfa7a3.html"  target="element">

				  		<area shape="rect" coords="442,10,850,214" href="../elements/id-a3ededf921d743069cf72327ed003624.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVI-Computing Infrastructure Enablers [Motivation] view extends Technical view - infrastructure and provides a comprehensive framework for leveraging various components and services that facilitate the development, deployment, and management of virtual and computing infrastructure. This view is divided into several groups, each containing different elements that contribute to the overall computing infrastructure.

The first group, "Computing Infrastructure Enablers", includes two Node ABBs: "Virtual Machine" and "Server". The Virtual Machine ABB enables the emulation of a physical computer to run programs and deploy applications, while the Server ABB enables access to resources or services to other computers or devices on a network.

The second group, "Artificial Intelligence Enablers", contains several Application Service ABBs and Application Component ABBs that provide the necessary infrastructure and resources for AI developers to build intelligent systems. These include "Artificial Intelligence", "Machine learning", "Artificial Intelligence Engine", and "Natural-Language Processing (NLP)".

The third group, "Analytics Enablers", refers to components and services that serve any current or future Digital Service Infrastructure (DSI) requiring data analysis capabilities. This group includes "Data Analytics", "Big Data Analytics", "Business Intelligence", and "Smart queue management".

The fourth group, "Data Management Enablers", refers to components and services that support effective data management practices and procedures. This group includes "Data Publication", "Forms Management", "Content Management", "Data Management", "e-Archiving", "Metadata Management", "Data Quality", "Data Extraction, Transformation, and Loading", "Data Persistence", "Data Virtualization", "Multimedia distribution", "Submission Service", "Transaction Management", "Archival Information Packages", "Trusted Digital Repositories", "Service Metadata Publisher", "CRM", "Data Publication", "Forms Management", "Data Extraction, Transformation and Loading", "Data Virtualization", "eFiles Management", "Service Metadata Locator", "Open Data Management", "Contact Management".

The fifth group, "Orchestration Enablers", refers to the components and practices that support the development and deployment of orchestration applications. This group includes "Orchestration" and "Workflow Management".

The final group, "Data Exchange Enablers", refers to tools or components that facilitate the exchange of data between systems or applications. This group includes "Data Exchange", "Once-Only Technical System", and "Data Exchange".

Each of these groups and their elements play a crucial role in the overall computing infrastructure, providing the necessary tools and services to facilitate the development, deployment, and management of various applications and systems.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a3ededf921d743069cf72327ed003624.html" target="element"> Computing Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-a3ededf921d743069cf72327ed003624.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-78202092bd874fc487dc0fbfbebfa7a3.html" target="element"> Virtual Machine </a> </td>
													    <td> <a href="../elements/id-78202092bd874fc487dc0fbfbebfa7a3.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b64cb2a06da44c81b1a5e5264843913c.html" target="element"> Server </a> </td>
													    <td> <a href="../elements/id-b64cb2a06da44c81b1a5e5264843913c.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a88d3e1ebc2641eda6409fd750185cfe.html" target="element"> Orchestration Enablers </a> </td>
											    <td> <a href="../elements/id-a88d3e1ebc2641eda6409fd750185cfe.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1e8fc405be7e41e3b6d4a6d0f70aa8f6.html" target="element"> Orchestration </a> </td>
													    <td> <a href="../elements/id-1e8fc405be7e41e3b6d4a6d0f70aa8f6.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b98acfb5a6224fe4982e3e6bbeb14dbe.html" target="element"> Orchestration </a> </td>
													    <td> <a href="../elements/id-b98acfb5a6224fe4982e3e6bbeb14dbe.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-299c3c6f399b4e8e8d40e6957807172d.html" target="element"> Data Exchange Enablers </a> </td>
											    <td> <a href="../elements/id-299c3c6f399b4e8e8d40e6957807172d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-dfd1e89db4df4b0c82a0eff38cfca96c.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-dfd1e89db4df4b0c82a0eff38cfca96c.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-05684b9800ca4ee4b47c6b0d85295092.html" target="element"> Data Exchange </a> </td>
													    <td> <a href="../elements/id-05684b9800ca4ee4b47c6b0d85295092.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
											    <td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/id-3c72ab15f3c843c6aaa11439ac7d61b9.html" target="view"> TVA-Data Management Enablers [Traceability] </a> </td>
													    <td> <a href="../views/id-3c72ab15f3c843c6aaa11439ac7d61b9.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../elements/id-74ed000a0b92487d8647b87016c3fd12.html" target="element"> Data Contract </a> </td>
													    <td> <a href="../elements/id-74ed000a0b92487d8647b87016c3fd12.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9859a97711f04448ac7b4cd37f4b5b75.html" target="element"> Data Governance </a> </td>
													    <td> <a href="../elements/id-9859a97711f04448ac7b4cd37f4b5b75.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2910ed6d67d0441daff626a7b7a86574.html" target="element"> Data Management </a> </td>
													    <td> <a href="../elements/id-2910ed6d67d0441daff626a7b7a86574.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8a2b0bfe5be44763a92f2d6b023468b7.html" target="element"> Data Management </a> </td>
													    <td> <a href="../elements/id-8a2b0bfe5be44763a92f2d6b023468b7.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-45df01adb85d44cca9084fe82e47c5be.html" target="element"> Data Persistence </a> </td>
													    <td> <a href="../elements/id-45df01adb85d44cca9084fe82e47c5be.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2bffb6c7fd9d421681a406fb9874df93.html" target="element"> Data Persistence </a> </td>
													    <td> <a href="../elements/id-2bffb6c7fd9d421681a406fb9874df93.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3a007ecaf93647a0b806c40f80d7ea82.html" target="element"> Data Policy </a> </td>
													    <td> <a href="../elements/id-3a007ecaf93647a0b806c40f80d7ea82.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-30f099d45fa64575a5f01208a539a5cc.html" target="element"> Data Policy Engine </a> </td>
													    <td> <a href="../elements/id-30f099d45fa64575a5f01208a539a5cc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c8e803e121e04eb18fa07156b8c9e188.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-c8e803e121e04eb18fa07156b8c9e188.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-06a5108ee2214a9d904cab91391e5374.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-06a5108ee2214a9d904cab91391e5374.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c91423ddaf543759f423871d8770744.html" target="element"> Metadata Management </a> </td>
													    <td> <a href="../elements/id-2c91423ddaf543759f423871d8770744.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-54ce3ebd29804cf2a4f8a0b198cf7afe.html" target="element"> Metadata Management </a> </td>
													    <td> <a href="../elements/id-54ce3ebd29804cf2a4f8a0b198cf7afe.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ed76a496510046f18257043626f50c89.html" target="element"> Service Metadata Locator </a> </td>
													    <td> <a href="../elements/id-ed76a496510046f18257043626f50c89.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cb323e0a5a7f4f9481ca8d2241ec6885.html" target="element"> Open Data Management </a> </td>
													    <td> <a href="../elements/id-cb323e0a5a7f4f9481ca8d2241ec6885.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2adc3b23f8c2434395579bff00327505.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2adc3b23f8c2434395579bff00327505.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3ededf921d743069cf72327ed003624.html" target="element"> Computing Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-b64cb2a06da44c81b1a5e5264843913c.html" target="element"> Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed12412243a5446a86013bfef6aaaeeb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed12412243a5446a86013bfef6aaaeeb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3ededf921d743069cf72327ed003624.html" target="element"> Computing Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-78202092bd874fc487dc0fbfbebfa7a3.html" target="element"> Virtual Machine </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e8b1d49f44c04a8c9c68665d61e9d6df.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e8b1d49f44c04a8c9c68665d61e9d6df.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-78202092bd874fc487dc0fbfbebfa7a3.html" target="element"> Virtual Machine </a> </td>
																				<td> <a href="../elements/id-b64cb2a06da44c81b1a5e5264843913c.html" target="element"> Server </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-2d0ec9ab1a66492ca871b839511cae38.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d0ec9ab1a66492ca871b839511cae38.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a88d3e1ebc2641eda6409fd750185cfe.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-1e8fc405be7e41e3b6d4a6d0f70aa8f6.html" target="element"> Orchestration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2e6d03bc50394d7a9f575dc4ba6165f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e6d03bc50394d7a9f575dc4ba6165f1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a88d3e1ebc2641eda6409fd750185cfe.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-b98acfb5a6224fe4982e3e6bbeb14dbe.html" target="element"> Orchestration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73c41efca82448fa9899b869a945a3b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73c41efca82448fa9899b869a945a3b8.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a88d3e1ebc2641eda6409fd750185cfe.html" target="element"> Orchestration Enablers </a> </td>
																		<td> <a href="../elements/id-a3ededf921d743069cf72327ed003624.html" target="element"> Computing Infrastructure Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-004e4c9cf32c470aaab269e854e24671.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-004e4c9cf32c470aaab269e854e24671.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b98acfb5a6224fe4982e3e6bbeb14dbe.html" target="element"> Orchestration </a> </td>
																				<td> <a href="../elements/id-1e8fc405be7e41e3b6d4a6d0f70aa8f6.html" target="element"> Orchestration </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ef171b9c22d3421aae2ae33823894e5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef171b9c22d3421aae2ae33823894e5f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-299c3c6f399b4e8e8d40e6957807172d.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-a3ededf921d743069cf72327ed003624.html" target="element"> Computing Infrastructure Enablers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d1a1506cbc434389a6edb1a5f6beb7a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d1a1506cbc434389a6edb1a5f6beb7a9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-299c3c6f399b4e8e8d40e6957807172d.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-dfd1e89db4df4b0c82a0eff38cfca96c.html" target="element"> Data Exchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0f227eba53b84ac69a93541520cd8fac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f227eba53b84ac69a93541520cd8fac.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-299c3c6f399b4e8e8d40e6957807172d.html" target="element"> Data Exchange Enablers </a> </td>
																		<td> <a href="../elements/id-05684b9800ca4ee4b47c6b0d85295092.html" target="element"> Data Exchange </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7a07a9cd64484322bb66fd61dad1e236.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a07a9cd64484322bb66fd61dad1e236.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dfd1e89db4df4b0c82a0eff38cfca96c.html" target="element"> Data Exchange </a> </td>
																				<td> <a href="../elements/id-05684b9800ca4ee4b47c6b0d85295092.html" target="element"> Data Exchange </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ea5b76c7917143838257f680b0a7cfd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea5b76c7917143838257f680b0a7cfd2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-ed76a496510046f18257043626f50c89.html" target="element"> Service Metadata Locator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-54437bc27b7641dfb7dbdf25473c89dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54437bc27b7641dfb7dbdf25473c89dd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-54ce3ebd29804cf2a4f8a0b198cf7afe.html" target="element"> Metadata Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a97080287054242938dc6777bd141c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a97080287054242938dc6777bd141c4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-9859a97711f04448ac7b4cd37f4b5b75.html" target="element"> Data Governance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-90a38a2f24624f0ca80ea2bca5968076.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90a38a2f24624f0ca80ea2bca5968076.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-8a2b0bfe5be44763a92f2d6b023468b7.html" target="element"> Data Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c774ad47f7b546bd99cf2dfc8834dd43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c774ad47f7b546bd99cf2dfc8834dd43.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-06a5108ee2214a9d904cab91391e5374.html" target="element"> Data Quality </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-acf1ffffe62147ac85f876e6d0bd9b92.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-acf1ffffe62147ac85f876e6d0bd9b92.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-2bffb6c7fd9d421681a406fb9874df93.html" target="element"> Data Persistence </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-89bfe0cdfe3d40328bed17966680c8ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89bfe0cdfe3d40328bed17966680c8ed.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-c8e803e121e04eb18fa07156b8c9e188.html" target="element"> Data Quality </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-54dce76a4d1b442eaea83b8467a5e5a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54dce76a4d1b442eaea83b8467a5e5a4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-45df01adb85d44cca9084fe82e47c5be.html" target="element"> Data Persistence </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c923beed34c481dbfd41911e14b4ef3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c923beed34c481dbfd41911e14b4ef3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-3a007ecaf93647a0b806c40f80d7ea82.html" target="element"> Data Policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f8f092e15fcf49a49d3c46b278162568.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8f092e15fcf49a49d3c46b278162568.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-2910ed6d67d0441daff626a7b7a86574.html" target="element"> Data Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-38133354a81c4055bd74718e654a87d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-38133354a81c4055bd74718e654a87d8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-cb323e0a5a7f4f9481ca8d2241ec6885.html" target="element"> Open Data Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b5197ecce48d4eaf95797d57affa8f0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5197ecce48d4eaf95797d57affa8f0b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-2c91423ddaf543759f423871d8770744.html" target="element"> Metadata Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-045430cd0474449e82b93889f3c0d5aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-045430cd0474449e82b93889f3c0d5aa.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-30f099d45fa64575a5f01208a539a5cc.html" target="element"> Data Policy Engine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e456df716e0447b0a3162f9e12524598.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e456df716e0447b0a3162f9e12524598.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-74ed000a0b92487d8647b87016c3fd12.html" target="element"> Data Contract </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e1c910e955144854bc2d38d0991b4c9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1c910e955144854bc2d38d0991b4c9c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11be95b424564431a25331e232ab555a.html" target="element"> Data Management Enablers </a> </td>
																		<td> <a href="../elements/id-a3ededf921d743069cf72327ed003624.html" target="element"> Computing Infrastructure Enablers </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																			<tr>
																				<td> <a href="../elements/id-0cd893fcc9c24c51a8262ea04527eae1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0cd893fcc9c24c51a8262ea04527eae1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-74ed000a0b92487d8647b87016c3fd12.html" target="element"> Data Contract </a> </td>
																				<td> <a href="../elements/id-3a007ecaf93647a0b806c40f80d7ea82.html" target="element"> Data Policy </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-959822cb14a74020a126441cd3bd85f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-959822cb14a74020a126441cd3bd85f5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9859a97711f04448ac7b4cd37f4b5b75.html" target="element"> Data Governance </a> </td>
																				<td> <a href="../elements/id-74ed000a0b92487d8647b87016c3fd12.html" target="element"> Data Contract </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3fca9daae977488f9f60eee532094a4f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3fca9daae977488f9f60eee532094a4f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9859a97711f04448ac7b4cd37f4b5b75.html" target="element"> Data Governance </a> </td>
																				<td> <a href="../elements/id-30f099d45fa64575a5f01208a539a5cc.html" target="element"> Data Policy Engine </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5910cc08d2f044839780549e0a7a2c2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5910cc08d2f044839780549e0a7a2c2d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2910ed6d67d0441daff626a7b7a86574.html" target="element"> Data Management </a> </td>
																				<td> <a href="../elements/id-9859a97711f04448ac7b4cd37f4b5b75.html" target="element"> Data Governance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-62d5df06f8144522a1e7d777d3948a9d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-62d5df06f8144522a1e7d777d3948a9d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8a2b0bfe5be44763a92f2d6b023468b7.html" target="element"> Data Management </a> </td>
																				<td> <a href="../elements/id-cb323e0a5a7f4f9481ca8d2241ec6885.html" target="element"> Open Data Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-31a24b44239447fca54077204fc82f32.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-31a24b44239447fca54077204fc82f32.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8a2b0bfe5be44763a92f2d6b023468b7.html" target="element"> Data Management </a> </td>
																				<td> <a href="../elements/id-2910ed6d67d0441daff626a7b7a86574.html" target="element"> Data Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bfe974e6ec0b47db9c3201b573271d9a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bfe974e6ec0b47db9c3201b573271d9a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8a2b0bfe5be44763a92f2d6b023468b7.html" target="element"> Data Management </a> </td>
																				<td> <a href="../elements/id-ed76a496510046f18257043626f50c89.html" target="element"> Service Metadata Locator </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6a77b977a79c4c3893ea29d916db7e36.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6a77b977a79c4c3893ea29d916db7e36.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2bffb6c7fd9d421681a406fb9874df93.html" target="element"> Data Persistence </a> </td>
																				<td> <a href="../elements/id-45df01adb85d44cca9084fe82e47c5be.html" target="element"> Data Persistence </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f324c782d277436db9df57e33ef5b6cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f324c782d277436db9df57e33ef5b6cb.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30f099d45fa64575a5f01208a539a5cc.html" target="element"> Data Policy Engine </a> </td>
																				<td> <a href="../elements/id-3a007ecaf93647a0b806c40f80d7ea82.html" target="element"> Data Policy </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c6816b97803248059585084f7501538b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c6816b97803248059585084f7501538b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-06a5108ee2214a9d904cab91391e5374.html" target="element"> Data Quality </a> </td>
																				<td> <a href="../elements/id-c8e803e121e04eb18fa07156b8c9e188.html" target="element"> Data Quality </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-be774c704fd645d7b103d5a49205f88a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-be774c704fd645d7b103d5a49205f88a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-54ce3ebd29804cf2a4f8a0b198cf7afe.html" target="element"> Metadata Management </a> </td>
																				<td> <a href="../elements/id-2c91423ddaf543759f423871d8770744.html" target="element"> Metadata Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a3281858f22f43a994a24fc6c5bb31ad.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a3281858f22f43a994a24fc6c5bb31ad.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-54ce3ebd29804cf2a4f8a0b198cf7afe.html" target="element"> Metadata Management </a> </td>
																				<td> <a href="../elements/id-ed76a496510046f18257043626f50c89.html" target="element"> Service Metadata Locator </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>