<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVI-Trust Infrastructure Enablers [Traceability]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVI-Trust Infrastructure Enablers [Traceability]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d040d175a9eb4a38ae2362f324071e21.png" alt="TVI-Trust Infrastructure Enablers [Traceability]" usemap="#id-d040d175a9eb4a38ae2362f324071e21map"/>
			   <map name="id-d040d175a9eb4a38ae2362f324071e21map">
				          <area shape="rect" coords="109,363,294,443" href="../objects/id-9851e65f803b4df7bada4a0e3671e195.html" target="element" >
				  				<area shape="rect" coords="118,304,278,359" href="../elements/id-93f69e1cd1a94e8ca081c6e15755e4d3.html"  target="element">

				  		<area shape="rect" coords="106,280,297,364" href="../elements/id-42a9dfd983934345ab021f85dad431c0.html"  target="element">
				  				<area shape="rect" coords="958,70,1114,153" href="../elements/id-d6b528c78e2d47279e6b29368429367f.html"  target="element">
				  				<area shape="rect" coords="958,178,1114,261" href="../elements/id-48189b7ecbba4b6380a5a9acb17f2865.html"  target="element">
				  				<area shape="rect" coords="742,130,898,213" href="../elements/id-4dba9336617447c0b11cb6325a2a5927.html"  target="element">
				  				<area shape="rect" coords="514,130,670,213" href="../elements/id-5e1f030dafdf49f7ae9585d4435b6ac0.html"  target="element">

				  		<area shape="rect" coords="490,10,1139,281" href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html"  target="element">
				  				<area shape="rect" coords="118,118,278,173" href="../elements/id-734ca34fa0de496897c038c9e1461efd.html"  target="element">

				  		<area shape="rect" coords="10,34,371,238" href="../elements/id-bc4f2295f5934c0bbb0b09fe689e1730.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVI-Trust Infrastructure Enablers [Motivation] view extends Technical view - infrastructure and provides a comprehensive framework for leveraging various components and services to build a secure and trustworthy environment for data sharing and transactions. 

The view consists of several elements grouped into four main categories: Blockchain Infrastructure Enablers, Trust Infrastructure Enablers, Trust Enablers, and Dataspace Enablers. 

Blockchain Infrastructure Enablers ABB is a grouping of components and services that allow for the construction of a digital ledger infrastructure of interconnected nodes. This includes the Immutable Database Manager ABB, Blockchain Ledger ABB, and Distributed Blockchain Network ABB. These technology services enable the management of immutable data, recording and sharing of transactions in an electronic ledger, and the implementation of tokens in a blockchain network, respectively.

Trust Infrastructure Enablers ABB is a grouping devoted to creating and managing public keys for encryption, a common method of securing data transfers on the internet. This includes the PKI Certificate Manager ABB, a technology service that enables the issuance, maintenance, and revocation of public key certificates.

Trust Enablers ABB is a grouping that facilitates the establishment and maintenance of secure cross-border transactions and interactions. It includes several application services such as e-Seal Preservation, e-Timestamp Verification and Validation, Registered Electronic Delivery, e-Seal Verification and Validation, e-Signature Creation, e-Signature Preservation, e-Signature Verification and Validation, e-Seal Creation, and e-Timestamp Creation. These services enable various procedures related to electronic signatures, timestamps, and seals, extending their trustworthiness and verifying their validity.

Dataspace Enablers ABB is a grouping that supports the creation and management of a dataspace. It includes the Dataspace, Dataspace Connector, Dataspace Connector Consumer, and Dataspace Connector Provider application services. These services enable the creation of a single market for data, easy and trustworthy data sharing, data gathering and accessibility, and control over data use in the dataspace ecosystem, respectively.

The motivation behind these groupings and services is to provide a secure and trustworthy environment for data sharing and transactions, leveraging blockchain technology, trust infrastructure, and dataspace capabilities. This view provides a comprehensive framework for understanding and implementing these elements in a cohesive and effective manner.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-bc4f2295f5934c0bbb0b09fe689e1730.html" target="element"> Trust Infrastructure Enablers </a> </td>
											    <td> <a href="../elements/id-bc4f2295f5934c0bbb0b09fe689e1730.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-734ca34fa0de496897c038c9e1461efd.html" target="element"> PKI Certificate Manager </a> </td>
													    <td> <a href="../elements/id-734ca34fa0de496897c038c9e1461efd.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element"> Dataspace Enablers </a> </td>
											    <td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5e1f030dafdf49f7ae9585d4435b6ac0.html" target="element"> Dataspace </a> </td>
													    <td> <a href="../elements/id-5e1f030dafdf49f7ae9585d4435b6ac0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4dba9336617447c0b11cb6325a2a5927.html" target="element"> Dataspace Connector </a> </td>
													    <td> <a href="../elements/id-4dba9336617447c0b11cb6325a2a5927.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-48189b7ecbba4b6380a5a9acb17f2865.html" target="element"> Dataspace Connector Consumer </a> </td>
													    <td> <a href="../elements/id-48189b7ecbba4b6380a5a9acb17f2865.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d6b528c78e2d47279e6b29368429367f.html" target="element"> Dataspace Connector Provider </a> </td>
													    <td> <a href="../elements/id-d6b528c78e2d47279e6b29368429367f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-42a9dfd983934345ab021f85dad431c0.html" target="element"> Trust Infrastructure Solutions </a> </td>
											    <td> <a href="../elements/id-42a9dfd983934345ab021f85dad431c0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-93f69e1cd1a94e8ca081c6e15755e4d3.html" target="element"> Public Key Infrastructure (PKI) </a> </td>
													    <td> <a href="../elements/id-93f69e1cd1a94e8ca081c6e15755e4d3.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-9851e65f803b4df7bada4a0e3671e195.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9851e65f803b4df7bada4a0e3671e195.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4b9de72da70d47b1addbc4dc2b16a753.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b9de72da70d47b1addbc4dc2b16a753.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc4f2295f5934c0bbb0b09fe689e1730.html" target="element"> Trust Infrastructure Enablers </a> </td>
																		<td> <a href="../elements/id-734ca34fa0de496897c038c9e1461efd.html" target="element"> PKI Certificate Manager </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c732c1df4e4f41158eb0b3b3cba0fee1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c732c1df4e4f41158eb0b3b3cba0fee1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-5e1f030dafdf49f7ae9585d4435b6ac0.html" target="element"> Dataspace </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c9e44e6b13814f84bd0a66fcd30cd97c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9e44e6b13814f84bd0a66fcd30cd97c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-4dba9336617447c0b11cb6325a2a5927.html" target="element"> Dataspace Connector </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3541362fa7984269ab4f4d50682a01cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3541362fa7984269ab4f4d50682a01cb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-d6b528c78e2d47279e6b29368429367f.html" target="element"> Dataspace Connector Provider </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-94ddfcd5175d445781d29468e5710eac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94ddfcd5175d445781d29468e5710eac.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-48189b7ecbba4b6380a5a9acb17f2865.html" target="element"> Dataspace Connector Consumer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a753681c5f314a49883c736e156531fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a753681c5f314a49883c736e156531fe.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c554627ed6d4a93aa5c02288555e8e5.html" target="element"> Dataspace Enablers </a> </td>
																		<td> <a href="../elements/id-bc4f2295f5934c0bbb0b09fe689e1730.html" target="element"> Trust Infrastructure Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-115d30db6e14490dbfa6b70e9dc30ec9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-115d30db6e14490dbfa6b70e9dc30ec9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5e1f030dafdf49f7ae9585d4435b6ac0.html" target="element"> Dataspace </a> </td>
																				<td> <a href="../elements/id-4dba9336617447c0b11cb6325a2a5927.html" target="element"> Dataspace Connector </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-dc40b8c1e39a4280812a9de9fce22fbf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc40b8c1e39a4280812a9de9fce22fbf.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-48189b7ecbba4b6380a5a9acb17f2865.html" target="element"> Dataspace Connector Consumer </a> </td>
																				<td> <a href="../elements/id-4dba9336617447c0b11cb6325a2a5927.html" target="element"> Dataspace Connector </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b62710ec51d64c33aeeff32f873d5aa7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b62710ec51d64c33aeeff32f873d5aa7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d6b528c78e2d47279e6b29368429367f.html" target="element"> Dataspace Connector Provider </a> </td>
																				<td> <a href="../elements/id-4dba9336617447c0b11cb6325a2a5927.html" target="element"> Dataspace Connector </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a0b4efe99adb4af19c598866214a34c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0b4efe99adb4af19c598866214a34c2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42a9dfd983934345ab021f85dad431c0.html" target="element"> Trust Infrastructure Solutions </a> </td>
																		<td> <a href="../elements/id-93f69e1cd1a94e8ca081c6e15755e4d3.html" target="element"> Public Key Infrastructure (PKI) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-045d14a9b219499e95373ae2deec8953.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-045d14a9b219499e95373ae2deec8953.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42a9dfd983934345ab021f85dad431c0.html" target="element"> Trust Infrastructure Solutions </a> </td>
																		<td> <a href="../elements/id-bc4f2295f5934c0bbb0b09fe689e1730.html" target="element"> Trust Infrastructure Enablers </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>