<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TV-Technical Agreements</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TV-Technical Agreements</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f194a3143e4045bb951629a851ae158d.png" alt="TV-Technical Agreements" usemap="#id-f194a3143e4045bb951629a851ae158dmap"/>
			   <map name="id-f194a3143e4045bb951629a851ae158dmap">
				  						<area shape="rect" coords="286,550,480,655" href="../elements/id-afd0359258454cb38a7d897fa1a046d3.html"  target="element">
				  						<area shape="rect" coords="70,550,264,655" href="../elements/id-4c5ad3c8dddb4d55879ee2e8e454aaea.html"  target="element">
				  						<area shape="rect" coords="286,682,480,787" href="../elements/id-b67d1a17c5a745b7ae57e118008ffd14.html"  target="element">

				  		        <area shape="rect" coords="34,514,563,790" href="../objects/id-6adda2b82cbc47c4bc751913248f0a75.html" target="element" >

				  		<area shape="rect" coords="10,478,587,814" href="../elements/id-1c231c46bf7040bcb59697b271b2936b.html"  target="element">
				  						<area shape="rect" coords="1090,790,1284,895" href="../elements/id-178c23895e2b4c36bf764de43e8ba840.html"  target="element">
				  						<area shape="rect" coords="886,790,1080,895" href="../elements/id-f787474fabc04a1ea9eb0ca00b491830.html"  target="element">
				  						<area shape="rect" coords="1294,670,1488,775" href="../elements/id-009a9dde5ebd44c4bf2089b7e4e20d3f.html"  target="element">
				  						<area shape="rect" coords="1294,550,1488,655" href="../elements/id-1b16fdac06aa4f6c97b4dc9013f66dfa.html"  target="element">
				  						<area shape="rect" coords="1090,550,1284,655" href="../elements/id-fad1ab8f66bc40fd8eed99c16a06a73f.html"  target="element">
				  						<area shape="rect" coords="886,550,1080,655" href="../elements/id-f07af6ce8dd8438e8493ed311e54596a.html"  target="element">
				  						<area shape="rect" coords="886,670,1080,775" href="../elements/id-03d5e7efc5464e449f8d31e975413739.html"  target="element">

				  		        <area shape="rect" coords="874,514,1499,971" href="../objects/id-95978bfa388c44e694ab98fa59a7abfa.html" target="element" >

				  		<area shape="rect" coords="850,478,1535,995" href="../elements/id-8e56ca910e3f4d92a0b422563981c74d.html"  target="element">
				  		<area shape="rect" coords="330,10,524,115" href="../elements/id-caabd5dfc18f40669c2ea0840ad16d8d.html"  target="element">
				  		<area shape="rect" coords="34,250,228,355" href="../elements/id-7a411be40ea24f45854aabce975e08d9.html"  target="element">
				  		<area shape="rect" coords="34,10,228,115" href="../elements/id-07471b2008e64be0b0379909791e7012.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The [TV-Technical Agreements] view extends technical view application and provides a comprehensive framework for leveraging various types of agreements, contracts, and specifications to ensure interoperability, collaboration, and service quality across different systems and organizations. 

The view includes four types of Technical Agreements: Contract ABB, Grouping ABB, and Business Object ABB. The Contract ABB type includes the Technical Agreement, Technical Interoperability Agreement, and Service Level Agreement. These agreements formalize the framework for strategic and technological collaboration, ensure organizations operate under different technical frameworks, and outline the level of service provided and the metrics used to measure service quality, respectively.

The Grouping ABB type includes the API Technical Interoperability Agreement Solutions, BlockChain Technical Interoperability Agreement Catalogue, and Identity and Access Management Technical Interoperability Agreement Solutions. These groupings provide a collection of technical specifications and standards for building and consuming APIs, ensuring interoperability using blockchain technology, and managing identity and access, respectively.

The Business Object ABB type includes the BlockChain Governance, Hybrid Blockchain Governance, Public BlockChain Governance (permissionless), and Private BlockChain Governance (permissioned). These objects provide the framework and mechanisms for effective collaboration and interoperability using blockchain technology.

The elements within these agreements, contracts, and specifications have relationships with each other based on their function and purpose. For example, the API Technical Interoperability Agreement Solutions grouping includes various Contract ABB elements like OpenAPI, RESTful API, GraphQL, gRPC, JSON-RPC, Simple Object Access Protocol, and OData. These elements provide the technical specifications for building and consuming APIs, enabling interoperability between different systems.

Similarly, the BlockChain Technical Interoperability Agreement Catalogue grouping includes the BlockChain IoP Agreement Contract ABB and the BlockChain Governance, Hybrid Blockchain Governance, Public BlockChain Governance (permissionless), and Private BlockChain Governance (permissioned) Business Object ABB elements. These elements provide the framework and mechanisms for ensuring interoperability using blockchain technology.

The motivation behind these elements and their relationships is to provide a comprehensive framework for leveraging technical agreements, contracts, and specifications to ensure interoperability, collaboration, and service quality across different systems and organizations. This framework enables organizations to identify common interests, prioritize policy dialogue, and develop the necessary tools for strategic and technological collaboration.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-07471b2008e64be0b0379909791e7012.html" target="element"> Technical Agreement </a> </td>
											    <td> <a href="../elements/id-07471b2008e64be0b0379909791e7012.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a411be40ea24f45854aabce975e08d9.html" target="element"> Technical Interoperability Agreement </a> </td>
											    <td> <a href="../elements/id-7a411be40ea24f45854aabce975e08d9.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-caabd5dfc18f40669c2ea0840ad16d8d.html" target="element"> Service Level Agreement </a> </td>
											    <td> <a href="../elements/id-caabd5dfc18f40669c2ea0840ad16d8d.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e56ca910e3f4d92a0b422563981c74d.html" target="element"> Business Agnostic API Technical Interoperability Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-8e56ca910e3f4d92a0b422563981c74d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-95978bfa388c44e694ab98fa59a7abfa.html" target="element"> SmartMad API Technical Interoperability Agreement Solutions </a> </td>
											           <td> <a href="../objects/id-95978bfa388c44e694ab98fa59a7abfa.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-03d5e7efc5464e449f8d31e975413739.html" target="element"> RESTful API </a> </td>
															    <td> <a href="../elements/id-03d5e7efc5464e449f8d31e975413739.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f07af6ce8dd8438e8493ed311e54596a.html" target="element"> OpenAPI </a> </td>
															    <td> <a href="../elements/id-f07af6ce8dd8438e8493ed311e54596a.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fad1ab8f66bc40fd8eed99c16a06a73f.html" target="element"> Simple Object Access Protocol </a> </td>
															    <td> <a href="../elements/id-fad1ab8f66bc40fd8eed99c16a06a73f.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1b16fdac06aa4f6c97b4dc9013f66dfa.html" target="element"> Publish/Subscribe Message Exchange Pattern </a> </td>
															    <td> <a href="../elements/id-1b16fdac06aa4f6c97b4dc9013f66dfa.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-009a9dde5ebd44c4bf2089b7e4e20d3f.html" target="element"> MQTT </a> </td>
															    <td> <a href="../elements/id-009a9dde5ebd44c4bf2089b7e4e20d3f.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f787474fabc04a1ea9eb0ca00b491830.html" target="element"> OPC-UA </a> </td>
															    <td> <a href="../elements/id-f787474fabc04a1ea9eb0ca00b491830.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-178c23895e2b4c36bf764de43e8ba840.html" target="element"> LWM2M </a> </td>
															    <td> <a href="../elements/id-178c23895e2b4c36bf764de43e8ba840.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-1c231c46bf7040bcb59697b271b2936b.html" target="element"> Business Agnostic Identity and Access Management Technical Interoperability Agreement Solutions </a> </td>
											    <td> <a href="../elements/id-1c231c46bf7040bcb59697b271b2936b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-6adda2b82cbc47c4bc751913248f0a75.html" target="element"> SmartMad dentity and Access Management Technical Interoperability Agreement Solutions </a> </td>
											           <td> <a href="../objects/id-6adda2b82cbc47c4bc751913248f0a75.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-b67d1a17c5a745b7ae57e118008ffd14.html" target="element"> OAuth 2.0 </a> </td>
															    <td> <a href="../elements/id-b67d1a17c5a745b7ae57e118008ffd14.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4c5ad3c8dddb4d55879ee2e8e454aaea.html" target="element"> OpenID </a> </td>
															    <td> <a href="../elements/id-4c5ad3c8dddb4d55879ee2e8e454aaea.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-afd0359258454cb38a7d897fa1a046d3.html" target="element"> JWT Bearer </a> </td>
															    <td> <a href="../elements/id-afd0359258454cb38a7d897fa1a046d3.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-90d6c50f683b4cbcbe6dd539907a94b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90d6c50f683b4cbcbe6dd539907a94b0.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7a411be40ea24f45854aabce975e08d9.html" target="element"> Technical Interoperability Agreement </a> </td>
																		<td> <a href="../elements/id-07471b2008e64be0b0379909791e7012.html" target="element"> Technical Agreement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-871e9b83395844bcb00e04c02f54aa91.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-871e9b83395844bcb00e04c02f54aa91.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7a411be40ea24f45854aabce975e08d9.html" target="element"> Technical Interoperability Agreement </a> </td>
																		<td> <a href="../elements/id-1c231c46bf7040bcb59697b271b2936b.html" target="element"> Business Agnostic Identity and Access Management Technical Interoperability Agreement Solutions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87d0d990195e4dc5beffc6817a808986.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87d0d990195e4dc5beffc6817a808986.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7a411be40ea24f45854aabce975e08d9.html" target="element"> Technical Interoperability Agreement </a> </td>
																		<td> <a href="../elements/id-8e56ca910e3f4d92a0b422563981c74d.html" target="element"> Business Agnostic API Technical Interoperability Agreement Solutions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2d72381ab5c34f0babe782440a91f014.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d72381ab5c34f0babe782440a91f014.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-caabd5dfc18f40669c2ea0840ad16d8d.html" target="element"> Service Level Agreement </a> </td>
																		<td> <a href="../elements/id-07471b2008e64be0b0379909791e7012.html" target="element"> Technical Agreement </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/id-a006d574f1c4417183da1ebff6523872.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-a006d574f1c4417183da1ebff6523872.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f07af6ce8dd8438e8493ed311e54596a.html" target="element"> OpenAPI </a> </td>
																						<td> <a href="../elements/id-03d5e7efc5464e449f8d31e975413739.html" target="element"> RESTful API </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-54c16c5eeecd4d96a575853841406b47.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-54c16c5eeecd4d96a575853841406b47.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-009a9dde5ebd44c4bf2089b7e4e20d3f.html" target="element"> MQTT </a> </td>
																						<td> <a href="../elements/id-1b16fdac06aa4f6c97b4dc9013f66dfa.html" target="element"> Publish/Subscribe Message Exchange Pattern </a> </td>
																					</tr>

													
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>